
<section >

    <!-- toda la card -->
<div class="todoCard">


    <!-- fotos de la card -->
    <div class="CardFotos">
    
     
      <img src="img/parlantin.png" alt="" class="imagenCard">
      
    
    
    <div class="corazonDiv">
       <img src="img/corazon.svg" alt="" class="corazon">
    </div>
    </div>
    
    
    <!-- textos -->
    <div class="texto">
    
     
    <div class="namePrecio mt-2">
    
    <h4 class="name">HomePod mini</h4>
    
    <h3 class="precio">$239.00</h3>
    
    </div>
    
    
    
    <p class="descrip">Mesa con purificador de aire, chapa teñida / negra</p>
    
    <div class="stars">
      <div>
    <img src="/img/star.svg" alt="" class="estrellasIMG">
    <img src="/img/star.svg" alt="" class="estrellasIMG">
    <img src="/img/star.svg" alt="" class="estrellasIMG">
    <img src="/img/star.svg" alt="" class="estrellasIMG">
    <img src="/img/star.svg" alt="" class="estrellasIMG">
    </div>
    
    <div>
      <p class="numeroStar">(121)</p>
    </div>
    
    </div>
    
    <button class="AddCart"> Añadir al Carrito</button>
    
    </div>
    
    </div>
</section>