<%- include ('head.ejs') -%>

<body>
    <!-- Swiper -->
    <div class="containerr">
        <!-- Contenedor para limitar la vista inicial a 3 tarjetas -->

  
        <div class="swiper-container mySwiper ">
         
            <div class="swiper-wrapper">
                
              <div class="swiper-slide alaa">
                  <a href="/shop/producto/652eba8c4b093245f128e652" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img/cards/top-n.png" alt="" class="imagenCard top-foto">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Crop top</h4>

                       
                        
                        <h3 class="precio">$670</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip"> Crop top sin mangas de tela elastizada</p>
                        
                        <div class="stars">
                          <div>
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            </div>
                        
                        <div>
                          <p class="numeroStar">(121)</p>
                        </div>
                        
                        </div>
                        
                        
                        
                        </div>
                        
                        </div>
                      </a>
                </div>

              <div class="swiper-slide">
                  <a href="/shop/producto/652eba8a4b093245f128e623" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img/cards/reloj-n.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Reloj de muñeca</h4>
                    
                        
                        <h3 class="precio">$1190</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Reloj inteligente, sumergible con bluetooth</p>
                        
                        <div class="stars">
                          <div>
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            </div>
                        
                        <div>
                          <p class="numeroStar">(121)</p>
                        </div>
                        
                        </div>
                        
                      
                        
                        </div>
                        
                        </div>
                      </a>
            </div>
            
          <div class="swiper-slide">
                  <a href="/shop/producto/6652e857dfcd0f93b9ec482f1" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img/cards/pumaRosa.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Zapatillas mujer caminar</h4>
                      
                        
                        <h3 class="precio">$17000</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Ideales para caminar, comodas y livianas</p>
                        
                        <div class="stars">
                          <div>
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            </div>
                        
                        <div>
                          <p class="numeroStar">(121)</p>
                        </div>
                        
                        </div>
                        
                       
                        
                        </div>
                        
                        </div>
                      </a>
            </div>


          <div class="swiper-slide">
                  <a href="/shop/producto/652eba874b093245f128e5e7" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img/cards/riñoNegra.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Riñonera</h4>

                      
                        
                        <h3 class="precio">$5300</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">accesorio de moda y utilidad que se lleva alrededor de la cintura o en la cadera</p>
                        
                        <div class="stars">
                          <div>
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            </div>
                        
                        <div>
                          <p class="numeroStar">(121)</p>
                        </div>
                        
                        </div>
                        
                        <button class="AddCart invisible"> Añadir al Carrito</button>
                        
                        </div>
                        
                        </div>
                      </a>
            </div>


          <div class="swiper-slide">
                  <a href="/shop/producto/652e86daccdd1ff7117d6dee" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img/cards/sofa.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                      
                        <h4 class="name">Sofa</h4>
                        

                       
                        
                        <h3 class="precio">$3900</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Sofa para espacios de estar</p>
                        
                        <div class="stars">
                          <div>
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            </div>
                        
                        <div>
                          <p class="numeroStar">(121)</p>
                        </div>
                        
                        </div>
                        
                        
                        
                        </div>
                        
                        </div>
                      </a>
            </div>
               
          <div class="swiper-slide mesasa">
                  <a href="/shop/producto/652eba894b093245f128e603" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img/cards/hp-removebg-preview.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Saga completa de Harry Potter</h4>

                       
                        
                        <h3 class="precio">$2222</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Todos libros en una caja bellamente producida, perfecta para los fanáticos del mundo mágico</p>
                        
                        <div class="stars">
                          <div>
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            <img src="/img/star.svg" alt="" class="estrellasIMG">
                            </div>
                        
                        <div>
                          <p class="numeroStar">(121)</p>
                        </div>
                        
                        </div>
                        
                  
                        
                        </div>
                        
                        </div>
                      </a>
            </div>

            <div class="swiper-slide" id="hidden-card">

              <div class="todoCard">


                  <!-- fotos de la card -->
                  <div class="CardFotos">
                  
                   
                    <img src="img/parlantin.png" alt="" class="imagenCard">
                    
                  
                  
                  <div class="corazonDiv">
                     <img src="img/corazon.svg" alt="" class="corazon">
                  </div>
                  </div>
                  
                  
                  <!-- textos -->
                  <div class="texto">
                  
                   
                  <div class="namePrecio mt-2">
                  
                  <h4 class="name">HomePod mini</h4>
                  
                  <h3 class="precio">$239.00</h3>
                  
                  </div>
                  
                  
                  
                  <p class="descrip">Mesa con purificador de aire, chapa teñida / negra</p>
                  
                  <div class="stars">
                    <div>
                  <img src="img/star.svg" alt="" class="estrellasIMG">
                  <img src="img/star.svg" alt="" class="estrellasIMG">
                  <img src="img/star.svg" alt="" class="estrellasIMG">
                  <img src="img/star.svg" alt="" class="estrellasIMG">
                  <img src="img/star.svg" alt="" class="estrellasIMG">
                  </div>
                  
                  <div>
                    <p class="numeroStar">(121)</p>
                  </div>
                  
                  </div>
                  
                  <button class="AddCart"> Añadir al Carrito</button>
                  
                  </div>
                  
                  </div>

          </div>

          <div class="swiper-slide" id="hidden-card2">

            <div class="todoCard">


                <!-- fotos de la card -->
                <div class="CardFotos">
                
                 
                  <img src="img/parlantin.png" alt="" class="imagenCard">
                  
                
                
                <div class="corazonDiv">
                   <img src="img/corazon.svg" alt="" class="corazon">
                </div>
                </div>
                
                
                <!-- textos -->
                <div class="texto">
                
                 
                <div class="namePrecio mt-2">
                
                <h4 class="name">HomePod mini</h4>
                
                <h3 class="precio">$239.00</h3>
                
                </div>
                
                
                
                <p class="descrip">Mesa con purificador de aire, chapa teñida / negra</p>
                
                <div class="stars">
                  <div>
                <img src="img/star.svg" alt="" class="estrellasIMG">
                <img src="img/star.svg" alt="" class="estrellasIMG">
                <img src="img/star.svg" alt="" class="estrellasIMG">
                <img src="img/star.svg" alt="" class="estrellasIMG">
                <img src="img/star.svg" alt="" class="estrellasIMG">
                </div>
                
                <div>
                  <p class="numeroStar">(121)</p>
                </div>
                
                </div>
                
                <button class="AddCart"> Añadir al Carrito</button>
                
                </div>
                
                </div>

        </div>




                </div>
       
            </div>
         
         

        </div>
      
      </div>
   


    <!-- Swiper JS -->
    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/joaki.js"></script>
</body>


  