
<footer class="margin-all">
    <div class="d-flex  mt-5 w-100">
        <div class="d-flex flex-column col-4 ">
            <img src="/img/ShopCart.jpg" class="shopCart" alt="">
            <p class="py-5">Somos un shopping virtual, con las mejores ofertas de electronica, productos del hogar y lo que desees encontrar.</p>
            <h3 class="pb-3">Aceptamos tarjetas</h3>
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <img src="/img/tarjetas/1Stripe.png" class="p-2 bord" alt="">
                    <img src="/img/tarjetas/2visa.png" class="p-2 bord" alt="">
                    <img src="/img/tarjetas/3.png" class="p-2 bord" alt="">
                    <img src="/img/tarjetas/4Amazon.png" class="p-2 bord" alt="">
                </div>
                <div class="d-flex">
                    <img src="/img/tarjetas/5Klarna.png"  class="p-2 bord"  alt="">
                    <img src="/img/tarjetas/6.png"  class="p-2 bord" alt="">
                    <img src="/img/tarjetas/7.png"  class="p-2 bord" alt="">
                    <img src="/img/tarjetas/8G.png" class="p-2 bord"  alt="">
                </div>
            </div> 
        </div>
        <div class="d-flex justify-content-between w-100 ps-3 me-5">
            <div class="d-flex flex-column">
                <h5 class="pb-3">Categorias</h5>
                <div class="sinMarcador">
                    <a href="/shop/categoria/Libros" class="enlace-sacar"><li>Libros</li></a> 
                    <a href="/shop/categoria/Tecnologia" class="enlace-sacar"><li>Tecnologia</li></a> 
                    <a href="/shop/categoria/Bolsos" class="enlace-sacar"><li>Bolsos</li></a> 
                    <a href="/shop/categoria/ropa" class="enlace-sacar"><li>Ropa</li></a> 
                    <a href="/shop/categoria/Zapatillas" class="enlace-sacar"><li>Zapatillas</li></a> 
                    <a href="/shop/categoria/Muebles" class="enlace-sacar"><li>Muebles</li></a> 
                </div>
            </div>
            <div class="d-flex flex-column">
                <h5 class="pb-3">Sobre nosotros</h5>
                <div class="sinMarcador">
                    <a href="/nosotros" class="enlace-sacar"> <li>Sobre ShopCart</li></a> 
                    <li>Carreras</li>
                    <li>Noticias y blog</li>
                    <li>Ayuda</li>
                    <li>Centro de prensa</li>
                    <li>Ideas y Guias</li>
                </div>
            </div>
            <div class="d-flex flex-column">
                <h5 class="pb-3">Servicios</h5>
                <div class="sinMarcador">
                    <li>Tarjetas de regalo</li>
                    <li>App Movil</li>
                    <li>Delivery</li>
                    <li>Cuenta de registro</li>
                </div>
            </div>
            <div class="d-flex flex-column">
                <h5 class="pb-3">Ayuda</h5>
                <div class="sinMarcador">
                    <li>ShopCart ayuda</li>
                    <li>Retornos</li>
                    <li>Orden de venta</li>
                    <a href="mailto:ShopCart@gmail.com" class="enlace-sacar" target='blank'><li>Contactanos</li></a> 
                </div>
            </div>
        </div>
    </div>
    <hr class="mx-5 my-4">
    <div class="d-flex justify-content-between pb-2">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <p class="footerText"><i class="bi bi-briefcase pe-2 icons"></i>Queres ser vendedor?</p>
            </div>
            <div class="d-flex ps-2">
                <p class="footerText"><i class="bi bi-gift pe-2 icons"></i>Tarjetas de regalo</p>
            </div>
            <div class="d-flex ps-2">
                <p class="footerText"><i class="bi bi-question-circle pe-2 icons"></i>Centro de ayuda</p>
            </div>
        </div>
        <div class="d-flex mt-2">
            <p class="pe-3 footerText">Terminos de servicio</p>
            <p class="footerText">Politica de privacidad</p>
        </div>
        <div class="d-flex mt-2">
            <p class="px-1 bordeOnly">Todos los derechos reservados de Musemind</p>
            <p class="ps-1">2022</p>
        </div>
    </div>
</footer>
<script src="/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>