


<!-- import navbar -->
<div class="green-back">
    <div class="fondoVerde d-flex justify-content-between align-items-center text-align-center text-white px-5">
        <div>
            <a href="" class="nav-link active">+001234567890</a>
        </div>
        <div class="d-flex justify-content-evenly mt-2">
            <p class="topGreen pe-2">Obtené un 50% de descuento en artículos seleccionados</p>
            <a class="ps-2 text-white hoverEnlace" href="/shop" style="text-decoration: none;">Comprar ahora</a>
        </div>
        <div class="d-flex">
            <a href="" class="nav-link active dropdown-toggle ps-3">Ubicación</a>
        </div>
    </div>
</div>
 <!-- NAVBAR -->
 <nav class=" margin-all justify-content-between navbar px-5">
    
    <div class="navbar-brand">
      <a href="/"><img src="/Img/ShopCart.jpg" class="shopCart"></a>
    </div>
    <div class="d-flex">
        <div class="dropdown">
            <button class="nav-link btn dropdown-toggle text-black px-2 hoverCategoria" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Categorias</button>
            <div class="dropdown-menu modalCategoria overFlow" aria-labelledby="dropdownMenuButton1">
                <div class="d-flex justify-content-evenly">
                    <div class="d-flex flex-column justify-content-evenly">
                            <a class="dropdown-item d-flex justify-content-between align-items-center" href="/shop/categoria/Muebles">
                               <img src="/img/categorias/mecedora.png" class="me-2 imgDrop" alt=""> 
                                <strong>Muebles</strong>
                            </a>
                            <a class="dropdown-item d-flex justify-content-between align-items-center" href="/shop/categoria/Zapatillas">
                                <img src="/img/categorias/botitaN.png" class="me-2 imgDrop" alt="">
                                <strong>Zapatillas</strong>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="/shop/categoria/Tecnologia">
                                <img src="/img/categorias/auri1-n.png" class="me-2 imgDrop" alt="">
                                <strong>Tecnologia</strong>    
                            </a>
                    </div>
                    <div class="d-flex flex-column justify-content-evenly">
                            <a class="dropdown-item d-flex align-items-center" href="/shop/categoria/Libros">
                                <img src="/img/categorias/libro-js-removebg-preview.png" class="me-2 imgDrop" alt="">
                                <strong>Libros</strong>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="/shop/categoria/ropa">
                                <img src="/img/categorias/camperon-r.png" class="me-2 imgDrop" alt="">
                                <strong>Ropa</strong>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="/shop/categoria/Bolsos">
                                <img src="/img/categorias/bolsitoMarron_1_88.jpg" class="me-2 imgDrop" alt="">
                                <strong>Bolsos</strong>    
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="/shop/precio/menorPrecio" class="nav-link px-2 hoverNav">Ofertas</a>
        <a href="/shop" class="nav-link px-2 hoverNav">Novedades</a>
        <a href="" class="nav-link px-2 hoverNav">Entregas</a>    
    </div>
    <div class="buscar-prod"> 
        <form> <label> </label> <input type="text" class="texto-buscar" placeholder=" Buscar producto">   </form>
        <button class="lupita"><i class="bi bi-search "></i></button>
    </div>
    <div class="d-flex ">
        <% if (typeof user !== 'undefined' && user !== null) { %>
            <div class="dropdown ">
                <button class="btn-nombre btn btn-secondary  " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <a href="" class="nav-link px-2 hoverEnlace">
                        <i class="bi bi-person px-2 size"></i>
                        <%= user.nombre %>
                        </a>
                </button>
                <ul class="dropdown-menu overFlow" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/miperfil">Mi perfil</a></li>
                  <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                </ul>
              </div>
        <% } else { %>
            <a href="/signin" class="nav-link px-2 hoverEnlace">
            <i class="bi bi-person px-2 size"></i>
            Cuenta
            </a>
        <% } %>
        <a href="/carrito" class="nav-link px-2 hoverEnlace"><i class="bi bi-cart-plus px-2 size"></i>Carrito</a>
    </div>
</nav>
</header>
