 <!-- Primer encabezado VERDE -->
 <div class="green-back">
    <div class="fondoVerde d-flex justify-content-between align-items-center text-align-center text-white px-5">
        <div>
            <a href="" class="nav-link active">+001234567890</a>
        </div>
        <div class="d-flex justify-content-evenly mt-2">
            <p class="topGreen pe-2">Obtené un 50% de descuento en artículos seleccionados</p>
            <a class="ps-2 text-white hoverEnlace" href="/shop" style="text-decoration: none;">Comprar ahora</a>
        </div>
        <div class="d-flex">
            <a href="" class="nav-link active dropdown-toggle ps-3">Ubicación</a>
        </div>
    </div>
</div>
    <!-- NAVBAR -->
        <nav class=" margin-all justify-content-between navbar px-5">
            
            <div class="navbar-brand">
                <a href=""><img src="Img/ShopCart.jpg" class="shopCart" alt=""></a>
            </div>

            <div class="d-flex">
                <a href="" class="nav-link active dropdown-toggle text-black px-2 hoverCategoria">Categorias</a>
                <a href="/shop" class="nav-link px-2 hoverNav">Ofertas</a>
                <a href="/shop" class="nav-link px-2 hoverNav">Novedades</a>
                <a href="" class="nav-link px-2 hoverNav">Entregas</a>    
            </div>
            <div class="d-flex"> 
                <form action="" role="search" >
                <input type="search" placeholder="Buscar producto" class="form-control "> 
                </form>
                <button class="border-0"><i class="bi bi-search bg-white"></i></button>
            </div>

            <div class="d-flex ">
                <% if (typeof user !== 'undefined' && user !== null) { %>
                    <div class="dropdown ">
                        <button class="btn-nombre btn btn-secondary  " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <a href="" class="nav-link px-2 hoverEnlace">
                                <i class="bi bi-person px-2 size"></i>
                                <%= user.nombre %>
                                </a>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                          <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                         
                        </ul>
                      </div>
                    
                <% } else { %>
                    <a href="/signin" class="nav-link px-2 hoverEnlace">
                    <i class="bi bi-person px-2 size"></i>
                    Cuenta
                    </a>
                <% } %>              
                <a href="" class="nav-link px-2 hoverEnlace "><i class="bi bi-cart-plus px-2 size"></i>Carrito</a>
            </div>
        </nav>