<section class="contenedor-s">

    <div class="slider-contenedor">
       
       <div class="contenido-slider" id="slide-1">
   
           <div>
             <h2 class="pb-5">Obtenga hasta un 50% de descuento <br>en zapatillas seleccionadas</h2>
             <a href="/shop/categoria/Zapatillas" style="text-decoration: none;" class="btn-off mt-3" >Comprar ahora</a>
           </div>
           <div>
              <img src="/img/pies-zapa.png" alt="" class="img-cincuenta">
           </div>
       </div>
       
       
       
       
       <div class="contenido-slider" id="slide-2">
       
           <div>
             <h2 class="pb-5">Obtenga hasta un 25% de descuento <br>en celulares seleccionados</h2>
             <a href="/shop/categoria/Tecnologia" style="text-decoration: none;" class="btn-off mt-3" >Comprar ahora</a>
           </div>
           <div>
             <img src="/img/mano-celu.png" alt="" class="img-mano-off">
           </div>
       </div>
       
       
       
       <div class="contenido-slider" id="slide-3">
       
           <div>
             <h2 class="pb-5">Obtenga hasta un 40% de descuento <br>en libros seleccionados</h2>
             <a href="/shop/categoria/Libros" style="text-decoration: none;" class="btn-off mt-3" >Comprar ahora</a>
           </div>
           <div>
             <img src="/img/mano-libros.png" alt="" class="img-libro-off">
           </div>
       </div>
   
       <div class="contenido-slider" id="slide-4">
   
           <div>
             <h2 class="pb-5">Obtenga hasta un 50% de descuento <br>en zapatillas seleccionadas</h2>
             <a href="/shop/categoria/Zapatillas" style="text-decoration: none;" class="btn-off mt-3" >Comprar ahora</a>
           </div>
           <div>
              <img src="/img/pies-zapa.png" alt="" class="img-cincuenta">
           </div>
       </div>
       
    </div>
    
   </section>