<div class="C-stars">
    <div>
      <img src="/img/star.svg" alt="" class="C-estrellasIMG">
      <img src="/img/star.svg" alt="" class="C-estrellasIMG">
      <img src="/img/star.svg" alt="" class="C-estrellasIMG">
      <img src="/img/star.svg" alt="" class="C-estrellasIMG">
      <img src="/img/star.svg" alt="" class="C-estrellasIMG">
    </div>
    <div>
      <p class="C-numeroStar">(121)</p>
    </div>