<section class="margin-all">
<section class="best-selling-store">
        
    <div class="contenedor-best-salling-store">
        <div class="section-title-store ">
            <h3 class="section-title mb-40">Tienda más vendida</h3>
        </div>
        <div class="best-selling-store-cards">

            <div class="best-selling-card">
                <div class="best-selling-imagen">
                    <img src="img/imagen1belling.png" alt loading="lazy" class="imagen-principal-store">
                </div>
                <div class="best-selling-contenido ">

                    <div class="best-selling-imagen-segunda ">
                        <img src="img/miniimagen1belling.png" loading="lazy" alt>
                    </div>  
                    <h3 class="selling-store-title">Staples</h3>
                    <div class="flex-de-store">
                        <div class="mini-store">Bag</div>
                        <div class="dot"></div>
                        <div class="mini-store">Perfume</div>
                    </div>
                    <div class="flex-imagen-etiqueta">
                        <img src="img/etiquetabilling.png" alt class="image-etiqueta-store">
                        <div class="parrafo-de-etiqueta">Delivery with in 24 hours</div>
                    </div>

                </div>

            </div>

            <div class="best-selling-card">
                <div class="best-selling-imagen">
                    <img src="img/imagen2belling.png" alt loading="lazy" class="imagen-principal-store">
                </div>
                <div class="best-selling-contenido ">

                    <div class="best-selling-imagen-segunda ">
                        <img src="img/miniimagen2belling.png" loading="lazy" alt>
                    </div>  
                    <h3 class="selling-store-title">Now Delivery</h3>
                    <div class="flex-de-store">
                        <div class="mini-store">Bag</div>
                        <div class="dot"></div>
                        <div class="mini-store">Perfume</div>
                    </div>
                    <div class="flex-imagen-etiqueta">
                        <img src="img/etiquetabilling.png" alt class="image-etiqueta-store">
                        <div class="parrafo-de-etiqueta">Delivery with in 24 hours</div>
                    </div>

                </div>

            </div>

            <div class="best-selling-card">
                <div class="best-selling-imagen">
                    <img src="img/imagen3belling.png" alt loading="lazy" class="imagen-principal-store">
                </div>
                <div class="best-selling-contenido ">

                    <div class="best-selling-imagen-segunda ">
                        <img src="img/miniimagen3belling.png" loading="lazy" alt>
                    </div>  
                    <h3 class="selling-store-title">Bevmo</h3>
                    <div class="flex-de-store">
                        <div class="mini-store">Bag</div>
                        <div class="dot"></div>
                        <div class="mini-store">Perfume</div>
                    </div>
                    <div class="flex-imagen-etiqueta">
                        <img src="img/etiquetabilling.png" alt class="image-etiqueta-store">
                        <div class="parrafo-de-etiqueta">Delivery with in 24 hours</div>
                    </div>

                </div>

            </div>

            <div class="best-selling-card">
                <div class="best-selling-imagen">
                    <img src="img/imagen4belling.png" alt loading="lazy" class="imagen-principal-store">
                </div>
                <div class="best-selling-contenido ">

                    <div class="best-selling-imagen-segunda ">
                        <img src="img/miniimagen4belling.png" loading="lazy" alt>
                    </div>  
                    <h3 class="selling-store-title">Quicklly</h3>
                    <div class="flex-de-store">
                        <div class="mini-store">Bag</div>
                        <div class="dot"></div>
                        <div class="mini-store">Perfume</div>
                    </div>
                    <div class="flex-imagen-etiqueta">
                        <img src="img/etiquetabilling.png" alt class="image-etiqueta-store">
                        <div class="parrafo-de-etiqueta">Delivery with in 24 hours</div>
                    </div>

                </div>

            </div>


        </div>
    </div>

</section>
</section>