<section class="margin-all">


<section class="shop-categorias">
    <div class="contenedor-categorias">

        <div class="titulo-categorias">
            <h3>¡Compre nuestras categorías principales!</h3>
        </div>

        <div class="shop-categorias-cards">

            <div class="shop-categoria-card">
                <a href="/shop/categoria/Muebles"><img src="img/categorias/foto1.png" alt class="categoria-imagen"></a>
                <h3 class="categoria-title-item">Muebles</h3>        
            </div>
            
            <div class="shop-categoria-card">
                <a href="/shop/categoria/Bolsos"><img src="img/categorias/foto2.png" alt class="categoria-imagen"></a>
                <h3 class="categoria-title-item">Bolsos</h3>        
            </div>
            <div class="shop-categoria-card">
                <a href="/shop/categoria/Libros"><img src="img/categorias/foto3.png" alt class="categoria-imagen"></a>
                <h3 class="categoria-title-item">Libros</h3>
            </div>
            <div class="shop-categoria-card">
                <a href="/shop/categoria/Tecnologia"><img src="img/categorias/foto4.png" alt class="categoria-imagen"></a>
                <h3 class="categoria-title-item">Tecnología</h3>        
            </div>
            <div class="shop-categoria-card">
                <a href="/shop/categoria/Zapatillas"><img src="img/categorias/foto5.png" alt class="categoria-imagen"></a>
                <h3 class="categoria-title-item">Zapatillas</h3>

            </div>
            <div class="shop-categoria-card">
                <a href="/shop/categoria/ropa"><img src="img/categorias/ropita.png" alt class="categoria-imagen"></a>
                <h3 class="categoria-title-item">Ropa</h3>
            </div>
        </div>
    </div>    
</section>
</section>