<section class="margin-all">


<section class="shop-categorias">
    <div class="contenedor-categorias">

        <div class="titulo-categorias">
            <h3>Shop Our Top Categories</h3>
        </div>

        <div class="shop-categorias-cards">

            <div class="shop-categoria-card">
                <img src="img/foto1.png" alt class="categoria-imagen">
                <h3 class="categoria-title-item">Furniture</h3>        
            </div>
            
            <div class="shop-categoria-card">
                <img src="img/foto2.png" alt class="categoria-imagen">
                <h3 class="categoria-title-item">Hand Bag</h3>        
            </div>
            <div class="shop-categoria-card">
                <img src="img/foto3.png" alt class="categoria-imagen">
                <h3 class="categoria-title-item">Books</h3>
            </div>
            <div class="shop-categoria-card">
                <img src="img/foto4.png" alt class="categoria-imagen">
                <h3 class="categoria-title-item">Tech</h3>        
            </div>
            <div class="shop-categoria-card">
                <img src="img/foto5.png" alt class="categoria-imagen">
                <h3 class="categoria-title-item">Sneakers</h3>

            </div>
            <div class="shop-categoria-card">
                <img src="img/foto6.png" alt class="categoria-imagen">
                <h3 class="categoria-title-item">Travel</h3>
            </div>
        </div>
    </div>    
</section>
</section>