
<section class="margin-all">
    <h2 class="category-hdos">¡Las mejores ofertas de hoy para ti!</h2>

<div class="btns-categorias">
    <button class="btn-category">Ropa</button>
    <button class="btn-category">Libros</button>
    <button class="btn-category">Tecnología</button>
    <button class="btn-category">Bolsos</button>
    <button class="btn-category">Zapatillas</button>
    <button class="btn-category">Muebles</button>
</div>
</section>


<section class="B-cards" id="cards">

    <!-- toda la card -->
<div class="B-todoCard" >


    <!-- fotos de la card -->
    <div class="B-CardFotos">
    
     
      <img src="img//parlantin.png" alt="" class="B-imagenCard">
      
    
    
    <div class="B-corazonDiv">
       <img src="img//corazon.svg" alt="" class="B-corazon">
    </div>
    </div>
    
    
    <!-- textos -->
    <div class="B-texto">
    
     
    <div class="B-namePrecio">
    
    <h4 class="B-name">HomePod mini</h4>
    
    <h3 class="B-precio">$239.00</h3>
    
    </div>
    
    
    
    <p class="B-descrip">Table with air purifier, stained veneer/black</p>
    
    <div class="B-stars">
      <div>
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    </div>
    
    <div>
      <p class="B-numeroStar">(121)</p>
    </div>
    
    </div>
    
    <button class="B-AddCart"> Add to Cart</button>
    
    </div>
    
    </div>

     <!-- toda la card -->
<div class="B-todoCard" >


    <!-- fotos de la card -->
    <div class="B-CardFotos">
    
     
      <img src="img//parlantin.png" alt="" class="B-imagenCard">
      
    
    
    <div class="B-corazonDiv">
       <img src="img//corazon.svg" alt="" class="B-corazon">
    </div>
    </div>
    
    
    <!-- textos -->
    <div class="B-texto">
    
     
    <div class="B-namePrecio">
    
    <h4 class="B-name">HomePod mini</h4>
    
    <h3 class="B-precio">$239.00</h3>
    
    </div>
    
    
    
    <p class="B-descrip">Table with air purifier, stained veneer/black</p>
    
    <div class="B-stars">
      <div>
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    </div>
    
    <div>
      <p class="B-numeroStar">(121)</p>
    </div>
    
    </div>
    
    <button class="B-AddCart"> Add to Cart</button>
    
    </div>
    
    </div>

     <!-- toda la card -->
<div class="B-todoCard" >


    <!-- fotos de la card -->
    <div class="B-CardFotos">
    
     
      <img src="img//parlantin.png" alt="" class="B-imagenCard">
      
    
    
    <div class="B-corazonDiv">
       <img src="img//corazon.svg" alt="" class="B-corazon">
    </div>
    </div>
    
    
    <!-- textos -->
    <div class="B-texto">
    
     
    <div class="B-namePrecio">
    
    <h4 class="B-name">HomePod mini</h4>
    
    <h3 class="B-precio">$239.00</h3>
    
    </div>
    
    
    
    <p class="B-descrip">Table with air purifier, stained veneer/black</p>
    
    <div class="B-stars">
      <div>
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    </div>
    
    <div>
      <p class="B-numeroStar">(121)</p>
    </div>
    
    </div>
    
    <button class="B-AddCart"> Add to Cart</button>
    
    </div>
    
    </div>

     <!-- toda la card -->
<div class="B-todoCard" >


    <!-- fotos de la card -->
    <div class="B-CardFotos">
    
     
      <img src="img//parlantin.png" alt="" class="B-imagenCard">
      
    
    
    <div class="B-corazonDiv">
       <img src="img//corazon.svg" alt="" class="B-corazon">
    </div>
    </div>
    
    
    <!-- textos -->
    <div class="B-texto">
    
     
    <div class="B-namePrecio">
    
    <h4 class="B-name">HomePod mini</h4>
    
    <h3 class="B-precio">$239.00</h3>
    
    </div>
    
    
    
    <p class="B-descrip">Table with air purifier, stained veneer/black</p>
    
    <div class="B-stars">
      <div>
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    </div>
    
    <div>
      <p class="B-numeroStar">(121)</p>
    </div>
    
    </div>
    
    <button class="B-AddCart"> Add to Cart</button>
    
    </div>
    
    </div>

     <!-- toda la card -->
<div class="B-todoCard" >


    <!-- fotos de la card -->
    <div class="B-CardFotos">
    
     
      <img src="img//parlantin.png" alt="" class="B-imagenCard">
      
    
    
    <div class="B-corazonDiv">
       <img src="img//corazon.svg" alt="" class="B-corazon">
    </div>
    </div>
    
    
    <!-- textos -->
    <div class="B-texto">
    
     
    <div class="B-namePrecio">
    
    <h4 class="B-name">HomePod mini</h4>
    
    <h3 class="B-precio">$239.00</h3>
    
    </div>
    
    
    
    <p class="B-descrip">Table with air purifier, stained veneer/black</p>
    
    <div class="B-stars">
      <div>
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    </div>
    
    <div>
      <p class="B-numeroStar">(121)</p>
    </div>
    
    </div>
    
    <button class="B-AddCart"> Add to Cart</button>
    
    </div>
    
    </div>

     <!-- toda la card -->
<div class="B-todoCard" >


    <!-- fotos de la card -->
    <div class="B-CardFotos">
    
     
      <img src="img//parlantin.png" alt="" class="B-imagenCard">
      
    
    
    <div class="B-corazonDiv">
       <img src="img//corazon.svg" alt="" class="B-corazon">
    </div>
    </div>
    
    
    <!-- textos -->
    <div class="B-texto">
    
     
    <div class="B-namePrecio">
    
    <h4 class="B-name">HomePod mini</h4>
    
    <h3 class="B-precio">$239.00</h3>
    
    </div>
    
    
    
    <p class="B-descrip">Table with air purifier, stained veneer/black</p>
    
    <div class="B-stars">
      <div>
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    </div>
    
    <div>
      <p class="B-numeroStar">(121)</p>
    </div>
    
    </div>
    
    <button class="B-AddCart"> Add to Cart</button>
    
    </div>
    
    </div>

     <!-- toda la card -->
<div class="B-todoCard" >


    <!-- fotos de la card -->
    <div class="B-CardFotos">
    
     
      <img src="img//parlantin.png" alt="" class="B-imagenCard">
      
    
    
    <div class="B-corazonDiv">
       <img src="img//corazon.svg" alt="" class="B-corazon">
    </div>
    </div>
    
    
    <!-- textos -->
    <div class="B-texto">
    
     
    <div class="B-namePrecio">
    
    <h4 class="B-name">HomePod mini</h4>
    
    <h3 class="B-precio">$239.00</h3>
    
    </div>
    
    
    
    <p class="B-descrip">Table with air purifier, stained veneer/black</p>
    
    <div class="B-stars">
      <div>
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    </div>
    
    <div>
      <p class="B-numeroStar">(121)</p>
    </div>
    
    </div>
    
    <button class="B-AddCart"> Add to Cart</button>
    
    </div>
    
    </div>

     <!-- toda la card -->
<div class="B-todoCard" >


    <!-- fotos de la card -->
    <div class="B-CardFotos">
    
     
      <img src="img//parlantin.png" alt="" class="B-imagenCard">
      
    
    
    <div class="B-corazonDiv">
       <img src="img//corazon.svg" alt="" class="B-corazon">
    </div>
    </div>
    
    
    <!-- textos -->
    <div class="B-texto">
    
     
    <div class="B-namePrecio">
    
    <h4 class="B-name">HomePod mini</h4>
    
    <h3 class="B-precio">$239.00</h3>
    
    </div>
    
    
    
    <p class="B-descrip">Table with air purifier, stained veneer/black</p>
    
    <div class="B-stars">
      <div>
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    <img src="img//star.svg" alt="" class="B-estrellasIMG">
    </div>
    
    <div>
      <p class="B-numeroStar">(121)</p>
    </div>
    
    </div>
    
    <button class="B-AddCart"> Add to Cart</button>
    
    </div>
    
    </div>

     
     </section>