<section class="margin-all">
<section class="section-descuentos">

    <div class="contenedor-descuentos">
        <div class="section-title-wrap">
            <h3 class="titulo-descuento mb40">Obtenga hasta un 70% de descuento</h3>
        </div>

        <div class="contenedor-descuentos-cards">
            <!-- 1RA CARD -->
            <div class="descuento-card">

                <div class="contenido-descuento">
                    <h3 class="descuento-titulo">Ahorrar</h3>
                    <div class="precio-descuento mb-20">
                        <span class="text-span-2">$</span>100 
                    </div>
                    <div class="descuento-descripcion">
                        Explore nuestra gama de muebles y artículos para el hogar
                    </div>

                </div>

                <div class="contenedor-imagen-descuento">
                    <img src="img/sofa.png" loading="lazy" alt class="imagen-descuento">
                </div>

            </div>
            <!-- 2DA CARD -->
            <div class="descuento-card rosado">

                <div class="contenido-descuento">
                    <h3 class="descuento-titulo">Ahorrar</h3>
                    <div class="precio-descuento mb-20 red">
                        <span class="text-span-2">$</span>29 
                    </div>
                    <div class="descuento-descripcion">
                        Explore nuestra gama de muebles y artículos para el hogar
                    </div>

                </div>

                <div class="contenedor-imagen-descuento">
                    <img src="img/libros.png" loading="lazy" alt class="imagen-descuento">
                </div>

            </div>
            <!-- 3RA CARD -->
            <div class="descuento-card color3">

                <div class="contenido-descuento">
                    <h3 class="descuento-titulo">Ahorrar</h3>
                    <div class="precio-descuento mb-20 color-two">
                        <span class="text-span-2">$</span>67
                    </div>
                    <div class="descuento-descripcion">
                        Explore nuestra gama de muebles y artículos para el hogar
                    </div>

                </div>

                <div class="contenedor-imagen-descuento">
                    <img src="img/camisas.png" loading="lazy" alt class="imagen-descuento">
                </div>

            </div>
            <!-- 4TA CARD -->
            <div class="descuento-card color4">

                <div class="contenido-descuento">
                    <h3 class="descuento-titulo">Ahorrar</h3>
                    <div class="precio-descuento mb-20 color-verde">
                        <span class="text-span-2">$</span>59 
                    </div>
                    <div class="descuento-descripcion">
                        Explore nuestra gama de muebles y artículos para el hogar
                    </div>
                </div>
                <div class="contenedor-imagen-descuento">
                    <img src="img/mochila y libro.png" loading="lazy" alt class="imagen-descuento">
                </div>
            </div>
        </div>
    </div>
        
</section>
</section>