
<section class="margin-all">

<h1 class="dos-card-tendencia">Productos de tendencia para ti</h1>

<section class="ambas-cardss">


    <div class="una">
  
    
  <!-- card -->
  <div class="all-card">
  
  <!-- imagen de la card -->
   <div class="imagen-carDos">
  <img src="img/sillones.png" alt="" class="foto-carDos">
   </div>
  
   <!-- texto de la card -->
   <div class="texto-carDos">
     <div class="subdiv-card">
  
  <h1 class="h1-card">Pueblo de muebles</h1>
  <p class="delivery-card">Entrega en 24 horas</p>
  <a href="/shop/categoria/Muebles" style="text-decoration: none;"><button class="btn-carDos">Compra ahora</button></a>
  
   </div>
  
  </div>
  
  </div>
  </div>
  
  <div class="dos">
  
    
    <!-- card -->
    <div class="all-card">
    
    <!-- imagen de la card -->
     <div class="imagen-carDos">
    <img src="img/card-ropa.png" alt="" class="foto-carDos">
     </div>
    
     <!-- texto de la card -->
     <div class="texto-carDos">
       <div class="subdiv-card">
    
    <h1 class="h1-card">Mundo de la moda</h1>
    <p class="delivery-card">Entrega en 24 horas</p>
    <a href="/shop/categoria/ropa" style="text-decoration: none;"><button class="btn-carDos">Compra ahora</button></a>
    
     </div>
    
    </div>
    
    </div>
    </div>
  
        </section>
    </section>