<section class="choose-by-brand">
        
    <div class="contenedor-choose-by-brand">

        <div class="title-choose">
            <h3 class="title mb-40">Elija por Marca</h3>
        </div>

        <div class="choose-by-brand-items">

            <div class="choose-by-brand-card ">

                <div class="choose-by-brand-contenedor-imagen">
                    <img src="img/imagen 1 staples.png" loading="lazy" alt class="choose-imagen">
                </div>
                <div class="choose-brand-content">
                    <h3 class="brand-title">Staples</h3>
                    <div class="delivery-item">Delivery with in 24 hours</div>
                </div>
            </div>

            <div class="choose-by-brand-card">

                <div class="choose-brand-thumbnail-wrap">
                    <img src="img/imagen 2 Sprouts.png" loading="lazy" alt class="deal-image">
                </div>
                <div class="choose-brand-content">
                    <h3 class="brand-title">Sprouts</h3>
                    <div class="delivery-item">Delivery with in 24 hours</div>
                </div>
            </div>

            <div class="choose-by-brand-card">

                <div class="choose-brand-thumbnail-wrap">
                    <img src="img/imagen3 Grocery outlet.png" loading="lazy" alt class="deal-image">
                </div>
                <div class="choose-brand-content">
                    <h3 class="brand-title">Grocery outlet</h3>
                    <div class="delivery-item">Delivery with in 24 hours</div>
                </div>
            </div>

            <div class="choose-by-brand-card">

                <div class="choose-brand-thumbnail-wrap">
                    <img src="img/imagen 4 mollie stone´s.png" loading="lazy" alt class="deal-image">
                </div>
                <div class="choose-brand-content">
                    <h3 class="brand-title">Mollie stones</h3>
                    <div class="delivery-item">Delivery with in 24 hours</div>
                </div>
            </div>

            <div class="choose-by-brand-card">

                <div class="choose-brand-thumbnail-wrap">
                    <img src="img/imagen 5 Sports Basement.png" loading="lazy" alt class="deal-image">
                </div>
                <div class="choose-brand-content">
                    <h3 class="brand-title">Sport Basemenet</h3>
                    <div class="delivery-item">Delivery with in 24 hours</div>
                </div>
            </div>

            <div class="choose-by-brand-card">

                <div class="choose-brand-thumbnail-wrap">
                    <img src="img/imagen 6 Container Store.png" loading="lazy" alt class="deal-image">
                </div>
                <div class="choose-brand-content">
                    <h3 class="brand-title">Container Store</h3>
                    <div class="delivery-item">Delivery with in 24 hours</div>
                </div>
            </div>

            <div class="choose-by-brand-card">

                <div class="choose-brand-thumbnail-wrap">
                    <img src="img/imagen 7 Target.png" loading="lazy" alt class="deal-image">
                </div>
                <div class="choose-brand-content">
                    <h3 class="brand-title">Target</h3>
                    <div class="delivery-item">Delivery with in 24 hours</div>
                </div>
            </div>

            <div class="choose-by-brand-card">

                <div class="choose-brand-thumbnail-wrap">
                    <img src="img/imagen 8 BevMo!.png" loading="lazy" alt class="deal-image">
                </div>
                <div class="choose-brand-content">
                    <h3 class="brand-title">Bevmo!</h3>
                    <div class="delivery-item">Delivery with in 24 hours</div>
                </div>
            </div>
        
        </div>

    </div>

</section>