<section class="margin-all">
    <section class="choose-by-brand">
        
        <div class="contenedor-choose-by-brand">

            <div class="title-choose">
                <h3 class="title mb-40">Choose by Brand</h3>
            </div>

            <div class="choose-by-brand-items">

                <div class="choose-by-brand-card ">

                    <div class="choose-by-brand-contenedor-imagen">
                        <a href="/shop/marca/Staples"><img src="img/marcas/imagen 1 staples.png" loading="lazy" alt class="choose-imagen"></a>
                    </div>
                    <div class="choose-brand-content">
                        <h3 class="brand-title">Staples</h3>
                        <div class="delivery-item">Entrega en 24 horas</div>
                    </div>
                </div>

                <div class="choose-by-brand-card">

                    <div class="choose-by-brand-contenedor-imagen">
                        <a href="/shop/marca/Sprouts"><img src="img/marcas/imagen 2 Sprouts.png" loading="lazy" alt class="deal-image"></a>
                    </div>
                    <div class="choose-brand-content">
                        <h3 class="brand-title">Sprouts</h3>
                        <div class="delivery-item">Entrega en 24 horas</div>
                    </div>
                </div>

                <div class="choose-by-brand-card">

                    <div class="choose-by-brand-contenedor-imagen">
                        <a href="/shop/marca/GroceryOutlet"><img src="img/marcas/imagen3 Grocery outlet.png" loading="lazy" alt class="deal-image"></a>
                    </div>
                    <div class="choose-brand-content">
                        <h3 class="brand-title">Grocery outlet</h3>
                        <div class="delivery-item">Entrega en 24 horas</div>
                    </div>
                </div>

                <div class="choose-by-brand-card">

                    <div class="choose-by-brand-contenedor-imagen">
                        <a href="/shop/marca/MollieStones"><img src="img/marcas/imagen 4 mollie stone´s.png" loading="lazy" alt class="deal-image"></a>
                    </div>
                    <div class="choose-brand-content">
                        <h3 class="brand-title">Mollie stones</h3>
                        <div class="delivery-item">Entrega en 24 horas</div>
                    </div>
                </div>

                <div class="choose-by-brand-card">

                    <div class="choose-by-brand-contenedor-imagen">
                        <a href="/shop/marca/SportsBasement"><img src="img/marcas/imagen 5 Sports Basement.png" loading="lazy" alt class="deal-image"></a>
                    </div>
                    <div class="choose-brand-content">
                        <h3 class="brand-title">Sport Basemenet</h3>
                        <div class="delivery-item">Entrega en 24 horas</div>
                    </div>
                </div>

                <div class="choose-by-brand-card">

                    <div class="choose-by-brand-contenedor-imagen">
                        <a href="/shop/marca/ContainerStore"><img src="img/marcas/imagen 6 Container Store.png" loading="lazy" alt class="deal-image"></a>
                    </div>
                    <div class="choose-brand-content">
                        <h3 class="brand-title">Container Store</h3>
                        <div class="delivery-item">Entrega en 24 horas</div>
                    </div>
                </div>

                <div class="choose-by-brand-card">

                    <div class="choose-by-brand-contenedor-imagen">
                        <a href="/shop/marca/Target"><img src="img/marcas/imagen 7 Target.png" loading="lazy" alt class="deal-image"></a>
                    </div>
                    <div class="choose-brand-content">
                        <h3 class="brand-title">Target</h3>
                        <div class="delivery-item">Entrega en 24 horas</div>
                    </div>
                </div>

                <div class="choose-by-brand-card">

                    <div class="choose-by-brand-contenedor-imagen">
                        <a href="/shop/marca/Bevmo!"><img src="img/marcas/imagen 8 BevMo!.png" loading="lazy" alt class="deal-image"></a>
                    </div>
                    <div class="choose-brand-content">
                        <h3 class="brand-title">Bevmo!</h3>
                        <div class="delivery-item">Entrega en 24 horas</div>
                    </div>
                </div>
                
            </div>

        </div>

    </section>
</section>