<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada | shopCart</title>
    <link rel="stylesheet" href="error404.css">
</head>
<body>

    <div class="contenedor-error">
        <h1 class="shopCart-titulo">Error 404 - Página no encontrada</h1>
        <p>Lo sentimos, la página que estás buscando en shopCart no existe o ha sido eliminada.</p>
        <p>Puedes volver a la <a href="/">página de inicio</a> de shopCart.</p>
    </div>

</body>
</html>