<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>

<div class="text-center align-items-center p-5">
  <h2>No se encontraron productos para la búsqueda : <%= busqueda %></h2>
</div>

<%- include ('partials/footer.ejs') -%>