<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>

<section class="hero mb-5"> 
    <div class="d-flex flex-column justify-content-center text-align-center h-75 mb-5 ms-5">
        <div class="hero-texto">
             <h1 class="colorVerde tamaño">Sobre Shopcart</h1>
        <p class="colorVerde " >Somos un shopping virtual, con las mejores ofertas de electronica, productos del hogar, ropa, bolsos <br> y todo lo que desees encontrar...</p>
        <a href="/shop"><button class="heroBoton ">Nuestra tienda</button></a>
        </div>
       
    </div>
</section>

<div class="sucursal margin-all  ">
    <div>
<h1 class=" colorVerde tama mb-3 mt-5">Donde encontrarnos</h1>
<p>Nuestras oficinas están ubicadas en Paysandú 441, C1405ANA CABA </p>
<p>También podes contactarnos por nuestro mail <a href="mailto:ShopCart@gmail.com"target='blank' class="enlace-sacar mailto">ShopCart@gmail.com</a> <br> o nuestro telefono +001234567890</p>
<h6>Nuestras redes:</h6>
<a href="https://www.instagram.com/" class="enlace-sacar redes"><p><i class="bi bi-instagram"></i>  Instagram</p></a>
<a href="https://www.facebook.com/" class="enlace-sacar redes"><p> <i class="bi bi-facebook"></i> Facebook</p></a>
<a href="https://twitter.com/" class="enlace-sacar redes"><p> <i class="bi bi-twitter-x"></i> Twitter </p></a>
  </div>
  <div class="div-mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3283.4298692154543!2d-58.4489005!3d-34.6185757!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3d74692621%3A0x93cbd9caed887453!2sPaysand%C3%BA%20441%2C%20C1405ANA%20CABA!5e0!3m2!1ses-419!2sar!4v1700088602063!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapita mt-5"></iframe>
  </div>
</div>


<div class="margin-all gracias">


<h1 class="colorVerde tamaño">¡Gracias por elegirnos!</h1>

</div>







</section>
<div class="futer">


<%- include ('partials/footer.ejs') -%>
</div>