<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>
<!--Perfil Usuario-->
                <main class="contenedor-main-entero">

                    <div class="contenedor-perfil">
                        <div class="encabezado-perfil">
                
                            <section class="section-contenedor-perfil ">
                
                                <input type="file" class="hidden-input">
                
                                <div class="card-perfil">
                
                                    <div class="image">
                                        <div class="icon-image">
                                            <img src="/img/perfil/user.svg" alt="imagen de perfil">
                                        </div>
                                        <div class="camara">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="rgba(0, 0, 0, 0.9)">
                                                <path d="M11.8 14.2234C14.1353 14.2234 16.0284 12.3303 16.0284 9.99504C16.0284 7.65977 14.1353 5.76665 11.8 5.76665C9.46473 5.76665 7.57161 7.65977 7.57161 9.99504C7.57161 12.3303 9.46473 14.2234 11.8 14.2234ZM11.8 13.0234C10.1275 13.0234 8.77161 11.6676 8.77161 9.99504C8.77161 8.32251 10.1275 6.96665 11.8 6.96665C13.4725 6.96665 14.8284 8.32251 14.8284 9.99504C14.8284 11.6676 13.4725 13.0234 11.8 13.0234Z" fill="rgba(0, 0, 0, 0.9)">
                
                                                </path>
                                                <path d="M16.3165 4.59504H19V14.8C19 15.7942 18.1941 16.6 17.2 16.6H2.8C1.80589 16.6 1 15.7942 1 14.8V6.39504C1 5.40093 1.80589 4.59504 2.8 4.59504H7.26123L8.48032 2.84106H15.1165L16.3165 4.59504ZM9.10765 4.04106L7.88856 5.79504H2.8C2.46863 5.79504 2.2 6.06367 2.2 6.39504V14.8C2.2 15.1314 2.46863 15.4 2.8 15.4H17.2C17.5314 15.4 17.8 15.1314 17.8 14.8V5.79504H15.6835L14.4835 4.04106H9.10765Z"
                                                fill="rgba(0, 0, 0, 0.9)">
                
                                                </path>
                                            </svg>
                
                                        </div>
                                    </div>
                                    <div class="perfil-informacion">
                                        <h2><%= user.nombre %></h2>
                                        <p>jairso@gmail.com</p>
                                       
                                    </div>
                
                                </div>
                
                            </section>
                
                        </div>
                
                
                    </div>
                <!--Bloque de separacion 3rem-->
                    <div class="tres-rem-center"></div>
                
                        <!--Listas-->
                
                 <!--primeras lista-->
                    <div class="hub-card card-principal-perfil"> 
                
                        <div class="contenedor-card-perfil">
                            
                            <ul class="listas-ul-card">
                                <li class="lista-li-card">
                
                                <a href="#" class="link-de-etiquetas-perfil">
                                        <div class="primer-bloque-informacion">
                
                                            <div class="margen-izquierda">
                                                
                                                <div>
                                                    <div class="circulo-imagen-perfil">
                                                        <img src="/img/perfil/icon-personal-information-ml.svg" alt="informacion personal">
                                                    </div>
                                                    
                                                    <div class="contenedor-svg-perfiles  verde-session">
                
                                                        <span class="fondo-visual-hidden">success-informative</span>
                                                        
                                                        <div>
                                                            <svg aria-hidden="true" width="24px" height="24px" viewBox="0 0 24 24" fill="white">
                                                                <path d="M10.1818 14.0936L17.0468 7.22864L18.5895 8.77142L10.1818 17.1792L5.4104 12.4078L6.95318 10.865L10.1818 14.0936Z">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                    </div>       
                
                                                </div>
                                            </div>
                                            <div>
                                                <span class="li-titulo-perfil">Información personal</span>
                                                <span class="li-texto-perfil">Información de tu documento de identidad y tu actividad fiscal</span>
                                            </div>
                                        </div>
                                </a>
                                        <div>
                                            <div>
                                                <svg aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" fill="rgba(0, 0, 0, 0.55)">
                                                    <path d="M8.27686 4.34644L7.42834 5.19496L12.224 9.99059L7.42334 14.7912L8.27187 15.6397L13.921 9.99059L8.27686 4.34644Z" fill="rgba(0, 0, 0, 0.55)">
                                                    </path>
                                                </svg>
                                            </div>  
                                    </div>
                                </li>
                                <!-- Segunda lista  -->
                                <li class="lista-li-card">
                
                                    <a href="#" class="link-de-etiquetas-perfil ">
                                            <div class="primer-bloque-informacion">
                    
                                                <div class="margen-izquierda">
                                                    <div>
                                                        <div class="circulo-imagen-perfil">
                                                            <img src="/img/perfil/profileIcon.svg" alt="informacion personal">
                                                        </div>
                                                        
                                                        <div class="contenedor-svg-perfiles  verde-session">
                                                            <span class="fondo-visual-hidden">success-informative</span>
                                                            <div>
                                                                <svg aria-hidden="true" width="24px" height="24px" viewBox="0 0 24 24" fill="white">
                                                                    <path d="M10.1818 14.0936L17.0468 7.22864L18.5895 8.77142L10.1818 17.1792L5.4104 12.4078L6.95318 10.865L10.1818 14.0936Z">
                                                                    </path>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="li-titulo-perfil">Datos de tu cuenta</span>
                                                    <span class="li-texto-perfil">Datos que representan a la cuenta en shopCart y sus servicios</span>
                                                </div>
                                            </div>
                                    </a>
                                            <div>
                                                <div>
                                                    <svg aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" fill="rgba(0, 0, 0, 0.55)">
                                                        <path d="M8.27686 4.34644L7.42834 5.19496L12.224 9.99059L7.42334 14.7912L8.27187 15.6397L13.921 9.99059L8.27686 4.34644Z" fill="rgba(0, 0, 0, 0.55)">
                                                        </path>
                                                    </svg>
                                                </div>  
                                        </div>
                                    </li>
                                    <!-- tercerr lista  -->
                                    <li class="lista-li-card">
                                    
                                        <a href="#" class="link-de-etiquetas-perfil">
                                                <div class="primer-bloque-informacion">
                        
                                                    <div class="margen-izquierda">
                                                        <div>
                                                            <div class="circulo-imagen-perfil">
                                                                <img src="/img/perfil/SecurityIcon24.svg" alt="informacion personal">
                                                            </div>
                                                            <!-- Warning -->
                                                            <div class="contenedor-svg-perfiles ">
                
                                                                <span class="fondo-visual-hidden">warning-informative</span>
                
                                                                <div class="warning">
                                                                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="white">
                                                                        <path d="M 13.4545 5.81824H10.5454L10.909 13.8182H13.0909L13.4545 5.81824Z">
                                                                        </path>
                                                                        <path d="M 12 15.2728C12.8033 15.2728 13.4545 15.924 13.4545 16.7273C13.4545 17.5307 12.8033 18.1819 12 18.1819C11.1966 18.1819 10.5454 17.5307 10.5454 16.7273C10.5454 15.924 11.1966 15.2728 12 15.2728Z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                        
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="li-titulo-perfil">Seguridad</span>
                                                        <span class="li-texto-perfil">Tenes configuraciones pendientes</span>
                                                    </div>
                                                </div>
                                        </a>
                                                <div>
                                                    <div>
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="rgba(0, 0, 0, 0.55)">
                                                            <path d="M8.27686 4.34644L7.42834 5.19496L12.224 9.99059L7.42334 14.7912L8.27187 15.6397L13.921 9.99059L8.27686 4.34644Z" fill="rgba(0, 0, 0, 0.55)">
                                                            </path>
                                                        </svg>
                                                    </div>  
                                                </div>
                                        </li>
                                    <!-- cuarta lista  -->
                                        <li class="lista-li-card">
                                    
                                            <a href="#" class="link-de-etiquetas-perfil">
                                                    <div class="primer-bloque-informacion">
                            
                                                        <div class="margen-izquierda">
                                                            <div>
                                                                <div class="circulo-imagen-perfil">

                                                                    <img src="/img/perfil/communicationsIcon.svg" alt="informacion personal">
                                                                </div>
                            
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <span class="li-titulo-perfil">Comunicaciones</span>
                                                            <span class="li-texto-perfil">Eleji que tipo de informacion querés recibir</span>
                                                        </div>
                                                    </div>
                                            </a>
                                                    <div>
                                                        <div>
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="rgba(0, 0, 0, 0.55)">
                                                                <path d="M8.27686 4.34644L7.42834 5.19496L12.224 9.99059L7.42334 14.7912L8.27187 15.6397L13.921 9.99059L8.27686 4.34644Z" fill="rgba(0, 0, 0, 0.55)">
                                                                </path>
                                                            </svg>
                                                        </div>  
                                                </div>
                                            </li>               
                            </ul>
                
                        </div>
                
                    </div>
                
</main>