<section class="margin-all">
<section class="section-services-help-area">
    <div class="contenedor-services-help-area">
        
        <div class="contenedor-de-titulo">
            <h3 class="section-titulo mb-40">Servicios para ayudarle a comprar</h3>
        </div>

        <div class="contenedor-de-cards">
            <div class="contenedor-card">
                <div class="titulos-y-descripcion">
                    <h3 class="titulo-de-servicio">Preguntas frecuentes</h3>
                    <div class="descripcion-de-servicio">Actualizaciones sobre compras seguras en nuestras tiendas</div>
                </div>

                <div class="contenedor-imagen-servicio">
                    <img src="img/imagen1pa.png" alt loading="lazy" class="imagen-servicio">
                </div>
            </div>
            <div class="contenedor-card">
                <div class="titulos-y-descripcion">
                    <h3 class="titulo-de-servicio">Preguntas frecuentes</h3>
                    <div class="descripcion-de-servicio">Actualizaciones sobre compras seguras en nuestras tiendas</div>
                </div>

                <div class="contenedor-imagen-servicio">
                    <img src="img/imagen2pa.png" alt loading="lazy" class="imagen-servicio">
                </div>
            </div>
            <div class="contenedor-card">
                <div class="titulos-y-descripcion">
                    <h3 class="titulo-de-servicio">Preguntas frecuentes</h3>
                    <div class="descripcion-de-servicio">Actualizaciones sobre compras seguras en nuestras tiendas</div>
                </div>

                <div class="contenedor-imagen-servicio">
                    <img src="img/imagen3pa.png" alt loading="lazy" class="imagen-servicio">
                </div>
            </div>
        </div>
    </div>

</section>
</section>