<%- include ('partials/head.ejs') -%>
<body class="w-100">
    <div class="text-center align-items-center mt-2">
        <a href="/"><img src="Img/ShopCart.jpg" class="shopCart"></a>
    </div>
    <div class="d-flex flex-column align-items-center text-center justify-content-center ancho pt-3 mx-auto">
        <div class="d-flex flex-column borde p-4">
            <h4 class="align-self-start">Iniciar sesion</h4>
            <form action="/signin" method="post" class="d-flex flex-column">
                <p class="align-self-start mb-1">Direccion de email</p>
                <input type="text" name="email" class="input p-1 form-control">
                <p class="align-self-start mb-1">Contraseña</p>
                <input type="password" name="password" class="input p-1 form-control">
                <button type="submit" class="btn btnVerde hoverVerde mt-2">Continuar</button>
            </form>
            <p class="align-self-start mt-2">Al continuar, aceptas las <a href="" class="hoverEnlace">Condiciones de uso</a> y el <a href="" class="hoverEnlace">Aviso de privacidad</a> de Amazon</p>
            <div class="d-flex">
                <i class="bi bi-caret-right-fill mt-2 pe-2"></i>
                <a href="" class="align-self-start mt-2 hoverEnlace" >¿Necesitas Ayuda?</a>
            </div>
        </div>
        <div class="d-flex flex-column pt-3 w-100">
            <p class="styled-paragraph">¿Eres nuevo en ShopCart?</p>
            <a href="/signup" class="w-100">
                <button class="btnBlanco py-1 w-100">Crear tu cuenta de ShopCart</button>
            </a>
        </div>
    </div>
</body>
</html>