   <!-- Seccion DESCUENTO -->
   <section class="imgSillon mt-5 ">
    <div class="fondo flex-column p-5  ">
        <h1 class="mt-1">Obtenga un reembolso del 5% <br> en efectivo por $200</h1>
        <p class="mt-2">Ir de compras es para mi un <br> pasatiempo un tanto relajante, que a<br> veces supone un problema para mi cuenta bancaria.</p>
        <div class="derecha">
            <a href="/shop"><button class="btn-nav">Aprenda más</button></a>
        </div>
    </div>
</section>