   <!-- Seccion DESCUENTO -->
   <section class="imgSillon mt-5 position-relative">
    <div class="d-flex flex-column p-5 derecha fondo">
        <h1>Obtenga un reembolso del 5% <br> en efectivo por $200</h1>
        <p>Ir de compras es para mi un <br> pasatiempo un tanto relajante, que a<br> veces supone un problema para mi cuenta bancaria.</p>
        <div class="derecha">
            <button class="btn heroBoton">Aprenda más</button>
        </div>
    </div>
</section>