
    <section class="fondo-tar">
        
        <div class="texto-tar">
            <h1 class="h1-tar">Obtenga un 5% de descuento</h1>
            <p class="p-tar">en Shopcart.com</p>
            <button class="btn-tar">
                Conoce Más
            </button>


        </div>

        <div>
            <img src="img/tarjets.png" alt="" class="tarjeta-imagen">

        </div>

    </section>
       