
/*CATEGORIAS ESTILOS */

*{
    box-sizing: border-box;
}

body{
    font-size: 1em;
    line-height: 1.25rem;
}

/*----- Cards Categorias -----*/
.shop-categorias{
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
}

.contenedor-categorias{
    overflow: hidden;
    width: 100%;
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;
    
}

.titulo-categorias{
    box-sizing: border-box;
}

.titulo-categorias h3 {
    margin-top: 1.25em; 
    margin-bottom: 0.625em; 
    font-family: Eina02, sans-serif;
    font-size: 1.75em; 
    line-height: 100%;
    font-weight: 700;
    transform-style: preserve-3d;
    text-transform: capitalize;
    margin-bottom: 2.5rem; 
}

.shop-categorias-cards{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 34px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    box-sizing: border-box;
}

.shop-categoria-card{
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 0.8em;
}

.categoria-title-item{
    position: absolute;
    left: 0%;
    top: 5%;
    right: auto;
    bottom: auto;
    z-index: 1;
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.categoria-title-item h3{
    margin-top: 1.25rem;
    margin-bottom: 10px;
    line-height: 100%;
    box-sizing: border-box;
    
}
/*Animaciones en el hover*/
img.categoria-imagen{
    transition: transform 0.3s ease-in-out;
}

img.categoria-imagen:hover{
    transform: scale3d(1.2, 1.2 ,1) ;
    transform-style: preserve-3d;
}

/*OTROS ESTILOS*/

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/


/*Elija por marca / choose-by-brand*/


.choose-by-brand{
    padding-bottom: 5rem;
}

.contenedor-choose-by-brand{
    overflow: hidden;
    width: 100%;
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;
}

.title-choose .title{
    text-transform: capitalize;
    color: #333;
}

.title-choose .mb-40{
    margin-bottom: 2.5rem;
}

.title-choose h3{
    margin-top: 1.25rem;
    font-family: Eina02, sans-serif;
    font-size: 1.75em;
    line-height: 100%;
    font-weight: 700;
    color: #333;
}

.choose-by-brand-items{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 23px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.choose-by-brand-card{
    position: relative;
    z-index: 0;
    display: flex;
    padding: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    border-width: 1px;
    border-radius: 10px;
    background-color: #f5f6f6;
    transition: all 200ms ease;
}

.choose-by-brand-contenedor-imagen{
    position: relative;
    margin-right: 1.125rem;
}

.choose-imagen{
    border-radius: 10px;
    transition: all 200ms ease;
}
img{
    border-color: initial;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.brand-title{
    margin-top: 0px;
    margin-bottom: 13px;
    font-family: Inter, sans-serif;
    font-size: 1.125em;
    font-weight: 600;
}

.delivery-item{
    margin-bottom: 0px;
    font-size: 0.8125em;
    line-height: 13px;
    font-weight: 500;
}


/*Animacion de div*/

.choose-by-brand-card{
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.choose-by-brand-card:hover{
    border-color: black;
}
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

/* Section Descuento */
.section-descuentos{
    padding-bottom: 5rem;
    
}


.contenedor-descuentos{
    overflow: hidden;
    width: 100%;
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;

}


.titulo-descuento{
    color: #231f1e;
    text-transform: capitalize;
}


.titulo-descuento{
    margin-top: 1.25rem;
    font-family: Eina02, sans-serif;
    font-size: 1.75em;
    line-height: 100%;
    font-weight: 700;
}

.mb40{
    margin-bottom: 2.5rem;
}


/**/

.contenedor-descuentos-cards{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.descuento-card{
    background-color: rgb(61, 38, 21);
    z-index: 0;
    border-radius: 10px;
    background-color: #f2e4d9;
    
}

.contenido-descuento{
    padding: 1.875rem;

}

.descuento-titulo{
    text-transform: capitalize;
    margin-top: 0px;
    font-size: 22px;
}

.contenido-descuento h3{
    margin-bottom: 10px;
    line-height: 100%;
    font-weight: 700;    
}

.precio-descuento {
    color: rgb(234, 187, 67);
}
.precio-descuento{
    font-family: Eina04, sans-serif;
    color: #cb9917;
    font-size: 3.25em;
    line-height: 52px;
    font-weight: 700;
}

.mb-20 {
    margin-bottom: 1.25rem;
}

.text-span-2{
    position: relative;
    top: -16px;
    font-size: 1.9375rem;
    line-height: 41px;
}

.descuento-descripcion{
    max-width: 385px;
    margin-bottom: 0px;
    color: #231f1e;
    font-size: 1em;
    line-height: 160%;
    font-weight: 500;
}

/**/
.contenedor-imagen-descuento{
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contenedor-imagen-descuento img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.imagen-descuento {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Card 2 colores de fuente y fondo*/
.descuento-card.rosado {
    background-color: #f9dcdc;
}
.red{
    color: #961f1f;
}


/*Card 3 colores de fuente y fondo */
.descuento-card .color3{
    background-color: #f2e4d9;
}

.color-two{
    color: #94623c;
}

/*Card 4 colores de fuente y fondo*/

.color4{
    background-color: #d2f7ec;
}
.color-verde{
    color: #003d29;
}

img.imagen-descuento {
    transition: transform 0.3s ease-in-out;
}

img.imagen-descuento:hover{
    transform: scale3d(1.2,1.2,1) ;
    transform-style: preserve-3d;
}

/*Best-selling-store*/

.best-selling-store{
    padding-bottom: 5rem;
    font-size: 0.75rem;

}

.contenedor-best-salling-store{
    overflow: hidden;
    width: 100%;
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;
}

.mb-40{
    margin-bottom: 2.5rem;
}

.section-title-store .section-title{
    color: #231f1e;
}

.section-title-store h3{
    margin-top:  1.25rem;
    font-size: 1.75rem;
    line-height: 100%;
    font-weight: 700;
}

.best-selling-store-cards{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.best-selling-card{
    z-index: 0;
}
.best-selling-imagen{
    overflow: hidden;
    border-radius: 10px;
}

img.imagen-principal-store{
    border-radius: 10px;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
img{
    border: 0;
}

.best-selling-contenido{
    position: relative;
    z-index: 99;
    margin-top: -29px;
    padding-right:  1.25rem;
    padding-left:  1.25rem;
}

.best-selling-imagen-segunda{
    margin-bottom: 10px;
}

.selling-store-title{
    margin-top: 0px;
    margin-bottom: 0.5rem;
    color: #231f1e;
    font-size:  1.50em;
    font-weight: 700;
}

.flex-de-store{
    display: flex;
    margin-bottom: 0.75em    ;
    align-items: center;
}

.mini-store{
    color: #848181;
    font-size: 1em;
    font-weight: 500;
}

.dot{
    width: 4px;
    height: 4px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 100px;
    background-color: #848181;
}

.flex-imagen-etiqueta{
    display: flex;
    align-items: center;
}

.image-etiqueta-store{
    width: 0.8125rem;
    height: 0.8125rem;
}

.parrafo-de-etiqueta{
    margin-left: 0.5rem;
    color: #c34482;
    line-height: 160%;
}

.best-selling-imagen{
    overflow: hidden;
}

img.imagen-principal-store{
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
    object-fit: cover;
}
img.imagen-principal-store:hover{
    transform: scale(1.2) rotate(5deg);
}

/*Services To Help You Shop*/

img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    
}

.section-services-help-area{
    padding-bottom: 6.25rem;

}

.contenedor-services-help-area{
    overflow: hidden;
    width: 100%;
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;

}

.section-titulo{
    color:rgb(211, 208, 202);
}

.contenedor-de-titulo h3{
    margin-top: 1.25rem;
    font-size: 1.75em;
    line-height: 100%;
    font-weight: 700;
    color: #231f1e;
}

.mb-40{
    margin-bottom: 2.5rem;
}
/**/
.contenedor-de-cards{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.contenedor-card{
    z-index: 0;
    border-radius: 10px;  
}

.contenedor-card{
    background-color: #f5f6f6;
}

.titulos-y-descripcion{
    padding:  2.5rem;
}

.titulo-de-servicio{
    max-width: 230px;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    font-size: 1.375em    ;
    line-height: 2rem;
}

.titulo-de-servicio h3{
    font-weight: 700;
}

.descripcion-de-servicio{
    color: #231f1e;
    margin-bottom: 0px;
    font-size: 1em;
    line-height: 160%;
    font-weight: 500;
}
.descripcion-de-servicio{
    color: #231f1e;
}
/**/
.imagen-servicio{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contenedor-imagen-servicio{
    overflow: hidden;
}

img.imagen-servicio{
    transition: transform 0.3s ease-in-out;
}

img.imagen-servicio:hover{
    transform: scale3d(1.2, 1.2 , 1) ;
    transform-style: preserve-3d;
}



/*--------------------------------------------*/

/*Perfil ecommerce*/

.contenedor-main-entero{
    padding-bottom: 5rem;
}

.contenedor-perfil{
    margin: auto;
    max-width: 44.625rem;
    position: relative;
    width: 44.625rem;

}

.encabezado-perfil{
    margin-top: 1.5rem;
}

.section-contenedor-perfil{
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
    display: flex;
    height: auto;
    justify-content: space-between;
    min-height: 128px;
    width: 715px;
}

.hidden-input{
    display: none;
}

.section-contenedor-perfil .card-perfil{
    display: flex;
    padding: 24px;
    width: 100%;
}

.section-contenedor-perfil .card-perfil .image {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    max-height: 80px;
    max-width: 80px;
    min-height: 80px;
    min-width: 80px;
    position: relative;
}

.section-contenedor-perfil .card-perfil .image .icon-image {
    align-items: center;
    background-color: #fff;
    background: #fff;
    border: 1px solid var(--all-andes-gray-070,rgba(0,0,0,.07));
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 28px;
    font-style: normal;
    justify-content: center;
    line-height: 28px;
    max-height: 80px;
    max-width: 80px;
    min-height: 80px;
    min-width: 80px;
}

.section-contenedor-perfil .card-perfil .image .icon-image img {
    border-radius: 50%;
    cursor: pointer;
    object-fit: scale-down;
}

.section-contenedor-perfil .card-perfil .image img {
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    object-fit: cover;
    width: 100%;
}

.section-contenedor-perfil .card-perfil .image .camara{
    align-items: center;
    border: 1px solid var(--all-andes-gray-070,rgba(0,0,0,.07));
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.section-contenedor-perfil .card-perfil .image .camara {
    background-color: #fff;
    bottom: 0;
    cursor: pointer;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    padding: 4px;
    position: absolute;
    right: 0;
}

/*Informacion*/


.section-contenedor-perfil .card-perfil .perfil-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4px 0 4px 24px;
    width: 100%;
}
.perfil-informacion{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nueva-web a {
    color: #009ee3;
}

.section-contenedor-perfil .card-perfil .perfil-informacion h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin: 0;
}

.section-contenedor-perfil .card-perfil .perfil-informacion p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    width: 100%;
}

.section-contenedor-perfil .card-perfil .perfil-informacion .nueva-web {
    display: block;
    margin-top: 8px;
}


/*Margen - medio*/
.tres-rem-center{
    margin-top: 3rem;
}

/*---------------------------------------------------*/

.card-principal-perfil{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
    
    background-color: #fff;
    border-radius: 6px;
    font-family: Proxima Nova,-apple-system,Roboto,Arial,sans-serif;

    max-width: 44.625rem;
    padding: 2.1875rem 2.5rem 1.5rem;
    width: 44.625rem;

    padding: 1rem 1rem 1rem 2rem!important;


    margin: auto;
    max-width: 44.625rem;
    position: relative;
    width: 44.625rem;
}

/*---------------------------------------------------*/
.contenedor-card-perfil {
    margin-right: 1rem;
    background-color: #fff;
    border-radius: 6px;
    font-family: Proxima Nova,-apple-system,Roboto,Arial,sans-serif;
}

/*UL--*/

.listas-ul-card{
    background-color: #fff;
    font-family: Proxima Nova,-apple-system,Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

/*elemento li */

.lista-li-card {
    cursor: pointer;

    align-items: center;
    display: flex;
    padding: 0;

    justify-content: space-between;
    position: relative;
}

/*-------------*/
.link-de-etiquetas-perfil {
    display: flex;
    justify-content: space-between;
    margin: 0 -16px;
    outline: none;
    padding: 0 16px;
    text-decoration: none;
}

.primer-bloque-informacion{
    padding: 14px 0 13px;
    align-items: center;
    display: flex;
    flex-grow: 4;
    margin-right: 12px;
}
/*------------*/

.margen-izquierda {
    margin-right: 16px;
}


.circulo-imagen-perfil{
    border: 1px solid rgba(0,0,0,.07)!important;
    border-radius: 50%;
    overflow: hidden;

    height: 54px;
    width: 54px;

    align-items: center;
    display: flex;
    justify-content: center;
}


.contenedor-svg-perfiles {
    left: 40px;
    top: -16px;

    border-radius: 50%;
    height: 16px;
    min-width: 16px;
    width: 16px;

    overflow: hidden;
    position: relative;
}

/*alineo blanco*/
.contenedor-svg-perfiles  svg {
    height: 16px;
    width: 16px;
}

/*-------------------*/
.verde-session {
    background: #00a650;
}
.warning{
    background: #FF7733;
}

.fondo-visual-hidden {
    clip: rect(0 0 0 0);
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*texto de listas*/

.li-titulo-perfil  {
    line-height: 30px;

    color: rgba(0,0,0,.9);
    display: block;
    font-size: 1rem;
}


/*texto abajo del titulo*/
.li-texto-perfil {
    color: rgba(0,0,0,.55);
    display: block;
}

/* Estilos del modal de chatGPT*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    
    
  }

 
  .centrado {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto; /* permite el desplazamiento si el contenido es demasiado grande */
}

.centrado-interno {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2.5rem;
    width: 700px;
    height: 760px;
    background-color: white;
    position: relative;
  }


/*IMAGEN VERIFICACION*/

.imagen-container img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    max-height: 100%;/* Asegura que la imagen no exceda la altura del contenedor */
    border-radius: 2.5rem; 
}

/*-----------------------------------*/
.texto-de-verificacion {
    background-color: white;
    margin-top: 6rem;
    flex-direction: column;
    width: 32rem;
    margin-left: 6rem;

    position: relative;
    bottom: 50%;
}

.texto-de-verificacion h1 {
    font-size: 2.2em;
    padding-bottom: 1.5rem;
}

.texto-de-verificacion p {
    font-size: 1.5em;
    padding-bottom: 1.9rem;
    color: gray;
}

.texto-de-verificacion button {
    font-size: 1em;
    width: 80%;
    background-color: #F2680C;
    border: 1px solid #FDC498;
    color: white;
    padding: 1rem;
    border-radius: 2.5rem;

}

