
/*CATEGORIAS ESTILOS */

*{
    box-sizing: border-box;
}

body{
    font-size: 1em;
    line-height: 1.25rem;
}

/*----- Cards Categorias -----*/
.shop-categorias{
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
}

.contenedor-categorias{
    overflow: hidden;
    width: 100%;
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.5rem;
}

.titulo-categorias{
    box-sizing: border-box;
}

.titulo-categorias h3 {
    margin-top: 1.25em; 
    margin-bottom: 0.625em; 
    font-family: Eina02, sans-serif;
    font-size: 1.75em; 
    line-height: 100%;
    font-weight: 700;
    transform-style: preserve-3d;
    text-transform: capitalize;
    margin-bottom: 2.5rem; 
}

.shop-categorias-cards{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    box-sizing: border-box;
}

.shop-categoria-card{
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 0.8em;
}

.categoria-title-item{
    position: absolute;
    left: 0%;
    top: 5%;
    right: auto;
    bottom: auto;
    z-index: 1;
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.categoria-title-item h3{
    margin-top: 1.25rem;
    margin-bottom: 10px;
    line-height: 100%;
    box-sizing: border-box;
    
}
/*Animaciones en el hover*/
img.categoria-imagen{
    transition: transform 0.3s ease-in-out;
}

img.categoria-imagen:hover{
    transform: scale3d(1.2, 1.2 ,1) ;
    transform-style: preserve-3d;
}

/*OTROS ESTILOS*/

/*Elija por marca / choose-by-brand*/


.choose-by-brand{
    padding-bottom: 5rem;
}

.contenedor-choose-by-brand{
    overflow: hidden;
    width: 100%;
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;
}

.title-choose .title{
    text-transform: capitalize;
    color: #333;
}

.title-choose .mb-40{
    margin-bottom: 2.5rem;
}

.title-choose h3{
    margin-top: 1.25rem;
    font-family: Eina02, sans-serif;
    font-size: 28px;
    line-height: 100%;
    font-weight: 700;
    color: #333;
}

.choose-by-brand-items{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 23px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.choose-by-brand-card{
    position: relative;
    z-index: 0;
    display: flex;
    padding: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    border-width: 1px;
    border-radius: 10px;
    background-color: #f5f6f6;
    transition: all 200ms ease;
}

.choose-by-brand-contenedor-imagen{
    position: relative;
    margin-right: 1.125rem;
}

.choose-imagen{
    border-radius: 10px;
    transition: all 200ms ease;
}
img{
    border-color: initial;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.brand-title{
    margin-top: 0px;
    margin-bottom: 13px;
    font-family: Inter, sans-serif;
    font-size: 1.125em;
    font-weight: 600;
}

.delivery-item{
    margin-bottom: 0px;
    font-size: 0.8125em;
    line-height: 13px;
    font-weight: 500;
}


/*Animacion de div*/

.choose-by-brand-card{
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.choose-by-brand-card:hover{
    border-color: black;
}





