/* MARGENES DE LAS COSAS */
.margin-all{
    width: 70% !important; 
    margin: auto !important;
} 



/* NAVBAR */
.green-back{
    background-color: #003D29 !important;
}
.btn-nombre{
    background-color: transparent !important;
    border: none !important;
    color: black !important;
    display: flex !important;
    margin-top: -0.4em !important;
    
}

.ubi-btn{
    background-color: transparent !important;
    border: none !important;
}

.a-ubi {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 2em !important;
}
.a-ubi img{
   width: 1.1em !important;
}
/* Card productos */





/* DOS CARDS */
/* todo la card */
.dos-card-tendencia{
    margin-top: 5em;
    margin-bottom: 1em;
    font-size: 1.8em;
}

.ambas-cardss{

    display: flex;
    justify-content: space-between;
    
}
.all-card{
 
  width: 40em;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* parte de la imagen */
.imagen-carDos{
    overflow: hidden;
    border-top-left-radius:  0.7em;
    border-top-right-radius:  0.7em;
}
.foto-carDos{
     width: 100%;
     border-top-left-radius:  0.7em;
     border-top-right-radius:  0.7em;

     /* hover */
     transition: transform 0.5s;
}


/* parte del texto */
.texto-carDos{
    background-color: #F5F6F6;
    margin-top: -2em;
  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;

}

.subdiv-card{
    padding-left: 1.5em;
}

.h1-card{
font-size: 1.5em;
padding-top: 2em;
font-weight: 600;

}
.delivery-card{
    font-weight: 500;
font-size: 0.9em;
font-weight: 900em;
}
.btn-carDos{
    border: 0px solid #231F1E;
    margin-top: 1em;
    margin-bottom: 2em;
border-radius: 15em;
background-color: #231F1E;
color: white;
font-size: 1.1em;
padding: 0.8em 1em 0.8em 1em;
cursor: pointer;

}


/* HOVERS */

.all-card:hover .foto-carDos{
    transform: scale(1.3); 

  
} 

.btn-carDos:hover{
    background-color: #003D29;
}


/* TARJETAS DESCUENTOS */
.fondo-tar{
    background-color: #FFE6CC;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5em;
    margin-bottom: 7em;
}

/* texto izquierda */
.texto-tar{
 margin-top: 5em;
}

.h1-tar{
    font-size: 3em;
}
.p-tar{
font-weight: 200;
font-size: 1.1em;
}



.btn-tar{
    font-weight: 500;
    border: 0px solid #231F1E;
    margin-top: 1em;
    margin-bottom: 2em;
border-radius: 15em;
background-color: #003D29;
color: white;
font-size: 1.1em;
padding: 1em 1.5em 1em 1.5em;
cursor: pointer;

}


/* foto tarjetas */
.tarjeta-imagen{
    width: 22em;
}


/* hover */

.btn-tar:hover{
    background-color: #231F1E;
}




/* SHOP SECTIONNNN */
/* DESCUENTOS CINCUENTA OFF */
.off-cincuenta{
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
    display: flex;
    background-color: #FBEFE5;
    justify-content: space-around;
    margin-top: 1em;
}
.off-cincuenta h2{
font-weight: 600;
color: #003D29;
font-size: 2.5em;
margin-top: 1em;
}



.btn-off{
    font-weight: 500;
    border: 0px solid #231F1E;
    margin-top: 1em;
    margin-bottom: 3em;
border-radius: 15em;
background-color: #003D29;
color: white;
font-size: 1.1em;
padding: 0.9em 1.2em 0.9em 1.2em;
cursor: pointer;

}
.btn-off:hover{
    background-color: #231F1E;
}

.img-cincuenta{
    margin-bottom: 1em;
}



/* FILTROSY ORDENAR */
.filtros{
    width: 70%;
    margin: auto;
    margin-top: 2em;
    display: flex;
}
.filtro-btn{
    
   background-color: #EBECED !important;
   color: black !important;
   border: 0px #EBECED solid !important;
   border-radius: 2em !important;
   margin-right: 2em;
}
.filtro-btn:hover{
    background-color: #d6d8d9 !important;
 }

 .orden-btn{
    
    background-color: white !important;
    color: black !important;
    border: 1px #bdbfc0 solid !important;
    border-radius: 2em !important;
   margin-left: 54em;
 }
 .orden-btn:hover{
    background-color: #bdbfc0!important;
 }



 
#dd-a:hover{
    background-color:  rgba(0, 0, 0, 0.375);
    
}
#dd-b:hover{
    background-color: rgba(101, 65, 21, 0.285);
}
#dd-c:hover{
    background-color: rgba(224, 113, 198, 0.242);
}
#dd-d:hover{
    background-color: rgba(205, 18, 18, 0.324);
}
#dd-e:hover{
    background-color: rgba(225, 147, 51, 0.355);
}
#dd-f:hover{
    background-color: rgba(64, 64, 64, 0.272);
}
#dd-g:hover{
    background-color: rgba(13, 35, 124, 0.272);
}
#dd-h:hover{
    background-color: rgba(131, 26, 187, 0.272);
}
#dd-i:hover{
    background-color: rgba(14, 146, 32, 0.272);
}
#dd-j:hover{
    background-color: rgba(20, 132, 177, 0.272);
}
#dd-k:hover{
    background-color: rgba(187, 185, 28, 0.272);
}


.invisible{
    opacity: 0%;
}
/* Card productos */
.C-cards{
    width: 70% !important; 
    margin: auto !important;
    justify-content: start;
    /* justify-content: space-between; */
}

.C-todoCard{
   
         margin-top: 3em;
         font-family: Arial, Helvetica, sans-serif;
         margin-right: 1.4em;
         margin-left: 1.4em;
   }
   
   /* div imagenes */
   .C-CardFotos{
         background-color: #F5F6F6;
            border: 0px ;
         width: 18em;
         height: 18em;
         border-radius: 0.8em;
         display: flex; 
        margin-bottom: 1em;
         justify-content: center;
         align-items: center;
         overflow: hidden;
         position: relative; 
         cursor: pointer;
   }
   
   .C-imagenCard{

   width: 11em;
   transition:  0.4s ease; 
   max-width: 100%;
   
   }
   
   .C-corazonDiv{
   
    background-color: #FFFFFF;
    border: 0;
    border-radius: 50%;
   padding: 0.3em 0.5em 0.3em 0.5em;
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 1;
   }
   .C-corazon{
    width: 1.1em;
   }
    
   /* div texto */
   
   
   .C-namePrecio{
       display: flex;
       justify-content: space-between;
   
   }
   .C-name{
   font-size: 0.9em;
   font-weight: 600;
   }
   .C-precio{
       font-size: 1em;
       font-weight: 600;
       
   }
   .C-descrip{
       font-size: 0.7em;
       color: rgb(86, 85, 85);
       margin-top: -1em;
   }
   
   .C-stars{
       display: flex;
   }
   .C-estrellasIMG{
       width: 0.7em;
   
   }
   
   .C-numeroStar{
       font-size: 0.65em;
       margin-left: 0.5em;
       margin-top: 0.3em;
   }
   
   .C-AddCart{ 
       margin-top: 0.6em;
       cursor: pointer;
       border: 1px solid black;
       background-color: #FFFFFF;
       border-radius: 2em;
       font-size: 0.8em;
       transition:  0.5s ease;
   
       padding: 0.8em 1.8em 0.8em 1.8em;
      
   }
   /* hover tarjeta */
   .C-imagenCard:hover {
    transform: scale(1.2);
}

.C-corazonDiv:hover{
    background-color: #F9DCDC;
}


.C-AddCart:hover{
border: 1px solid #003D29;
background-color: #003D29;
color: white;
}


/* varias */
.C-cards{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


/* BOTONES 1 2 3 */
.botones-numeros{
display: flex;
width: 70%;
margin: auto;
justify-content: center;
margin-top: 4em;

}

.btn-num{
    border: none;
    border-radius: 100em;
    padding: 0.9em 1.4em 0.9em 1.4em ;
    background-color:#F5F6F6;
    color: black;
    margin-right: 1em;
}
.btn-num:hover{
    color: white;
    background-color: #003D29;
   
}

/* cards abajo */
.produ-semanales-shop{
   
    width: 70% !important; 
    margin: auto !important;
   
}
.produ-semanales-shop h2{
    font-weight: 700;
    margin-top: 3em;
}

.enlace-sacar{
    text-decoration: none;
    color: black;
    
}

/* CARDS VARIAS */
.category-hdos{
    margin-top: 4em;
}

.btns-categorias{
  
    margin: auto !important;
}
.btn-category{
    margin-top: 1.5em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.522);
    background-color: #FFFFFF;
    border-radius: 2em;
    font-size: 1em;
   margin-right: 1em;

    padding: 0.8em 1.8em 0.8em 1.8em;
}


/* SLIDES DEL SHOP */
.contenedor-s{
    width: 70%;
    margin: auto;
    height: 20em;
    overflow: hidden;
}
.slider-contenedor{
    width: 100%;
    display: flex;
}


.contenido-slider{
    font-family: Arial, Helvetica, sans-serif;
    height: 20em;
    display: flex;
    background-color: #FBEFE5;
    justify-content: space-around;
  
   width: 100%;
  flex-shrink: 0;
  
  }
  .contenido-slider h2{
  font-weight: 600;
  color: #003D29;
  font-size: 2.5em;
  margin-top: 1em;
  
  
  }
  
  
  
  .btn-off{
    font-weight: 500;
    border: 0px solid #231F1E;
    margin-top: 1em;
    margin-bottom: 3em;
  border-radius: 15em;
  background-color: #003D29;
  color: white;
  font-size: 1.1em;
  padding: 0.9em 1.2em 0.9em 1.2em;
  cursor: pointer;
  
  }
  .btn-off:hover{
    background-color: #231F1E;
  }
  
  .img-cincuenta{
    margin-bottom: 1em;
  }
  .img-mano-off{
   margin-top: 1em;
    width: 11em;
  }
  .img-libro-off{
    margin-top: 2.6em;
    width: 17em;
    margin-bottom: 0em;
  } 


/* CARRITO */
.carrito-all{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 4em;
}
/* izquierda */
.productos-carrito{
    border: 1px solid rgba(128, 128, 128, 0.411);
    border-radius: 0.3em;
    padding: 1em;
   height: 100%;
}
.productos-carrito h3{
    font-size: 1.7em;
    margin-bottom: 1em;
}
.prod-carrito{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
   
    justify-content: space-between;
}

.img-producto-carrito{
    max-width: 80%;
 
}
.img-div-carrito{
    width: 10em;
    height: 10em;
    background-color: #F7F5F7;
    border-radius: 0.3em;
    margin-right: 2em;
   display: flex;
   align-items: center;
   justify-content: center;
}
.imagen-nombre{
    display: flex;
    align-items: center;
}
.cart-pyc{
    
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-nombre{
    margin-right: 10em;
}
.cart-nombre h4{
   font-size: 1.4em;
   font-weight: 700;
}
.cart-nombre p{
    font-size: 0.9em;
}
.cart-precio{
font-size: 1.1em;
font-weight: 500;
margin-bottom: 0em;
}
.cart-cantidad{
    font-size: 1em;
    font-weight: 500;
   
    }

    /* derecha */
   .completar-datos{
    border: 1.5px solid rgba(128, 128, 128, 0.411);
    border-radius: 0.3em;
    padding: 2em;
    height: 100%;
    margin-bottom: 2em;
   }
   .linea-cart{
    border-top: 1.5px solid rgba(128, 128, 128, 0.228);
   
   }


   .codigo-cart{
    display: flex;
    justify-content: space-between;

    border-radius: 10em;
    background-color: #F7F5F7;
    border: 1px solid #F7F5F7;
    margin: 1.5em 0em;
   }
  
  .texto-codigo{
    border: none;
    background-color: transparent;
    margin: -1em 1em 0.4em 0.5em;
    width: 18em;
    padding: 0.5em 0em;
   outline: none;
   color: #8786889d !important;
   font-size: 0.9em;
  }
  
  
  .lupita-codigo{
    background-color: #003D29;
     color: white;
     font-size: 1.1rem;
     padding: 0em 1.8em;
     border:none ;
     border-radius: 4em;
     font-size: 0.9em;
  }  
  .lupita-codigo:hover{
    background-color: #231F1E;
     color: white;
    
  }  

.detalles-pago{
    font-size: 1.3em;
    margin: 1em 0em;
}

.check-cart{
    margin: 1em 0em;
}
.tarjetas-check{
  margin-top: 1em;
}

.opcion-check {
    display: none;
}


.completar-datos input{
    display: block;
}

  .cart-form-p{
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  .cart-form{
    border: 1.5px solid rgba(128, 128, 128, 0.411) !important;
    border-radius: 0.2em;
    width: 100%;
   padding: 1em  !important;
   font-size: 0.9em !important;
   margin-bottom: 1.5em ;
  }

  .input-with-icon {
    position: relative;
  }
  
  .input-with-icon i {
    position: absolute;
    left: 10px;
    top: 50%; 
    transform: translateY(-50%);
    color: #000000; 
  }
  
  .cart-form-card {
    padding-left: 30px !important; 

    border: 1.5px solid rgba(128, 128, 128, 0.411) !important;
    border-radius: 0.2em;
    width: 100%;
   padding: 1em  !important;
   font-size: 0.9em !important;
   margin-bottom: 1.5em ;
   padding-left: 30px !important; 
  }
  
  .dos-forms-cart{
    display: flex;
    justify-content: space-between;
  }

.cart-form-dos{
    border: 1.5px solid rgba(128, 128, 128, 0.411);
    border-radius: 0.2em;
    
   padding: 1em !important;
   font-size: 0.9em !important;
   margin-bottom: 1.5em;
}

.sub-total{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    
}
.sub-total p{
    font-weight: 500;
}
.total-carrito{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.total-carrito p{
    font-weight: 500;
    font-size: 1.1em;
}

.btn-pagar-cart{
    background-color: #003D29;
     color: white;
     font-size: 1.1em;
     padding: 1em 1.8em;
     border:none ;
     border-radius: 4em;
    margin-top: 1em;
    width: 100%;
    font-weight: 500;
}
.btn-pagar-cart:hover{
    background-color: #231F1E;
}



/* PRODUCTO */
.produ-linea{
    margin-top: 1em;
    border-top: 2px solid rgba(0, 0, 0, 0.065);
    width: 70%;
    margin: auto;
}

/* producto */

.producto{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
}


/* PARTE IZQUIERDA */
.imagen-producto{
    margin-right: 5em;
  
}

/* categorias */
.produ-categorias{
    display: flex;
}

.produ-categorias p{
    margin-right: 1em;
}

/* imagen */
.produ-img{
    background-color: #F5F6F6;
    border: 1px solid #F5F6F6;
    border-radius: 0.5em;
    margin-top: 1em;
}
.imagen-produu{
    width: 35em;
    padding: 2em;
}
/*  */
.produ-color{
    background-color: #F5F6F6;
    border: 1px solid #F5F6F6;
    border-radius: 0.5em;
    width: 10em;
    margin-top: 1.5em;
}
.auriB-img{
    width: 10em;
}



                                                    /* PARTE DERECHA */


.producto-des{
    margin-top: 3em;
}

/* nombre */
.produ-nombre h1{
    font-size: 2em;
    font-weight: 700;
}
/* descripcion */
.p-des{
    font-size: 0.8em;
    font-weight: 400;
    word-spacing: -0.5px;
    margin-top: 1em;
    margin-bottom: 0em;
}
/* estrellas */
.prod-star{
display: flex;
margin-top: 0em;
margin-bottom: 0.6em;
}
.prod-star img{
   width: 0.7em;
   margin-right: 0.1em;
     }
.prod-star p{
   font-size: 0.7em;
   margin-top: 1.5em;
    }
    /* linea */
.lineas-prod{
    border-top: 2px solid rgba(0, 0, 0, 0.065);
   
}

/* precio */
.produ-precio h3{
    margin-top: 1em;
font-size: 1.5em;
}
.produ-precio p{
    font-size: 0.7em;
    margin-top: 0.8em;
    margin-bottom: 2.5em;
    }

    /* elegir color */
    .produ-colores{
        margin-top: 1.5em;
    }
    .produ-colores h4{
        font-size: 1.1em;
        margin-bottom: 1em;
    }
/* circulo colores */
.prod-colores{
display: flex;
margin-bottom: 1.5em;
}

.bolaN{
    width: 2.7em;
}
.bolaB  {
    width: 2.7em;
}

/* botoness */

/* agregar productos */
.prod-add{
    display: flex;
    margin-top: 2em;
}

.agregar-prod{
    display: flex;
    background-color: #F5F6F6;
    border: none;
    border-radius: 5em;
    width: 10em;
    height: 3em;
    justify-content: space-evenly;
    
}
.agregar-prod button{
    border: none;
    background-color: transparent;
    font-size: 1.5em;
}.agregar-prod p{
    padding-top: 0.8em;
}
/* texto items restantes */

.left-items p{
    font-size: 0.8em;
    margin-left: 2em;
    font-weight: 500;
    margin-top: 0.4em;
}
.texto-naranja{
    color: #FF7A17;
}




/* botones comprar */


.D-AddCart{ 

    font-weight: 400;
    border: 1px solid black;
    margin-top: 1em;
    margin-bottom: 2em;
border-radius: 15em;
background-color: #FFFFFF;


padding: 0.8em 3em 0.8em 3em;
cursor: pointer;
transition:  0.5s ease;
margin-right: 1em;



    
   
}
.D-AddCart:hover{
    border: 1px solid #003D29;
    background-color: #003D29;
    color: white;
    }

.comprar-btn{
    font-weight: 400;
    border: 0px solid #231F1E;
    margin-top: 1em;
    margin-bottom: 2em;
border-radius: 15em;
background-color: #003D29;
color: white;

padding: 0.8em 3em 0.8em 3em;
cursor: pointer;
transition:  0.5s ease;
margin-right: 1em;
}
/* boton carrito */
.btn-carrito{ 
    font-weight: 400;
    margin-top: 0.6em;
    cursor: pointer;
    border: 1.5px solid #003D29;
    background-color: #FFFFFF;
    border-radius: 2em;
    transition:  0.5s ease;
    color: #003D29;
    padding: 0.8em 3em 0.8em 3em;
   
}


/* delivery */
.delivery-all{
border-radius: 0.3em;
    border:2px solid rgba(0, 0, 0, 0.065) ;
}


/* camion */
.camion-env{
    display: flex;

}
.envio-f{
    font-weight: 500;
    margin-left: 0.5em;
    margin-top: 1.1em;
    margin-bottom: 0.5em;
}
.codigo-postal{
    margin-left: 3.3em;
    font-size: 0.9em;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.truck-img{
    width: 1.5em;
    margin-left: 1em;
    margin-top: 1em;
}


/* devolucion */
.caja-env{
    display: flex;

}
.devolucion{
    font-weight: 500;
    margin-left: 0.5em;
    margin-top: 1.1em;
    margin-bottom: 0.5em;
}
.dev-texto{
    margin-left: 3.3em;
    font-size: 0.9em;
    font-weight: 400;
    
}
.detalles{
    text-decoration: underline;
    cursor: pointer;
}
.pack-img{
    width: 1.5em;
    margin-left: 1em;
    margin-top: 1em;
}





/* HOVERS */
/* boton comprar */
.comprar-btn:hover{
    background-color: #231F1E;
}
/* btn cart */
.btn-carrito:hover{
    border: 1px solid #003D29;
    background-color: #003D29;
    color: white;
    }







    /* CARD CARRUSEL EN EL HOME Y SHOP */
        
   

    .swiper-slide{
        padding-right: 25em;
        
      
    }
   
     /* Estilos de las tarjetas */
    .todoCard {
        margin-top: 2em;
        width: 25em;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        
        
    }
    
    .CardFotos {
        width: 100%;
        height: 19em;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: url(img/drag.png) 50 50, auto;
        position: relative;
        background-color: #F5F6F6;
        border-radius: 0.8em;
    }
    
    .imagenCard {
        transition: 0.4s ease;
       width: 10em;
    }
    .top-foto{
        width: 18em;
    }
    .corazonDiv {
        background-color: #FFFFFF;
        border-radius: 50%;
        padding: 0.5em;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
    
    .corazon {
        width: 1.3em;
        position: relative;
        z-index: 2;
    }
    
  
    
    .namePrecio {
        display: flex;
        justify-content: space-between;
        
    }
    
    .name {
        font-size: 1.1em;
        font-weight: 600;
    }
    
    .precio {
        font-size: 1.2em;
        font-weight: 600;
        
    }
    
    .descrip {
        font-size: 0.8em;
        color: rgb(86, 85, 85);
        margin-bottom: 0.5em;
    }
    
    .stars {
        display: flex;
        margin-bottom: 0.5em;
    }
    
    .estrellasIMG {
        width: 0.8em;
    }
    
    .numeroStar {
        font-size: 0.75em;
        margin-left: 0.5em;
        margin-top: -0.1em;
    }
    
    .AddCart {
        margin-top: 0.6em;
        cursor: pointer;
        border: 1px solid black;
        background-color: #FFFFFF;
        border-radius: 2em;
        font-size: 0.9em;
        transition: 0.5s ease;
        padding: 0.9em 1.9em 0.9em 1.9em;
    }
    
    /* Estilos de hover */
    .imagenCard:hover {
        transform: scale(1.2);
    }
    .alaa{
        z-index: 1;
    }
    .corazonDiv:hover {
        background-color: #F9DCDC;
    }
    
    .AddCart:hover {
        border: 1px solid #003D29;
        background-color: #003D29;
        color: white;
    }
    
    .mesasa{
        padding-right: 35em !important;
    }
    #hidden-card{
    opacity: 0%;
   position: absolute;
    }
    #hidden-card2{
        opacity: 0%;
       position: absolute;
        }
    

        /* category cards */
        .margin-all{
            width: 70%;
            margin: auto;
        }
        .category-hdos{
            margin-top: 4em;
        }
        
        .btns-categorias{
          
            margin: auto !important;
        }
        .btn-category{
            margin-top: 1.5em;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.522);
            background-color: #FFFFFF;
            border-radius: 2em;
            font-size: 1em;
           margin-right: 1em;
        
            padding: 0.8em 1.8em 0.8em 1.8em;
        }
        .btn-category.selected {
            background-color: #003D29; /* Cambia esto al verde deseado */
            color: #FFFFFF; /* Color de texto en el botón seleccionado */
        }
        
        
        
        .contenido{
            width: 70% !important; 
            margin: auto !important;
            justify-content: space-between;
        
        
            width: 70%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }
        
        .B-todoCard{
           
                 margin-top: 3em;
                 font-family: Arial, Helvetica, sans-serif;
                 
           }
           
           /* div imagenes */
           .B-CardFotos{
                 background-color: #F5F6F6;
                    border: 0px ;
                 width: 18em;
                 height: 18em;
                 border-radius: 0.8em;
                 display: flex; 
                margin-bottom: 1em;
                 justify-content: center;
                 align-items: center;
                 overflow: hidden;
                 position: relative; 
                 cursor: pointer;
           }
           
           .B-imagenCard{
        
           width: 11em;
           transition:  0.4s ease; 
           max-width: 100%;
           
           }
           
           .B-corazonDiv{
           
            background-color: #FFFFFF;
            border: 0;
            border-radius: 50%;
           padding: 0.3em 0.5em 0.3em 0.5em;
            position: absolute;
            top: 10px; 
            right: 10px; 
            z-index: 1;
           }
           .B-corazon{
            width: 1.1em;
           }
            
           /* div texto */
           
           
           .B-namePrecio{
               display: flex;
               justify-content: space-between;
           
           }
           .B-name{
           font-size: 0.9em;
           font-weight: 600;
           }
           .B-precio{
               font-size: 1em;
               font-weight: 600;
               
           }
           .B-descrip{
               font-size: 0.7em;
               color: rgb(86, 85, 85);
               margin-top: -1em;
           }
           
           .B-stars{
               display: flex;
           }
           .B-estrellasIMG{
               width: 0.7em;
           
           }
           
           .B-numeroStar{
               font-size: 0.65em;
               margin-left: 0.5em;
               margin-top: 0.3em;
           }
           
           .B-AddCart{ 
               margin-top: 0.6em;
               cursor: pointer;
               border: 1px solid black;
               background-color: #FFFFFF;
               border-radius: 2em;
               font-size: 0.8em;
               transition:  0.5s ease;
           
               padding: 0.8em 1.8em 0.8em 1.8em;
              
           }
           /* hover tarjeta */
           .B-imagenCard:hover {
            transform: scale(1.2);
        }
        
        .B-corazonDiv:hover{
            background-color: #F9DCDC;
        }
        
        
        .B-AddCart:hover{
        border: 1px solid #003D29;
        background-color: #003D29;
        color: white;
        }
        





/* Estilos del contenedor con desplazamiento horizontal */
.containerr {
   
    overflow-x: scroll;
}



body ::-webkit-scrollbar {
  
    height: 0.3em;
    width: 12em;
    background-color: #c7c6c6; 
  }
  
body::-webkit-scrollbar-button {
    width: 11em;       
  }
  
 body ::-webkit-scrollbar-thumb {
    background-color: black;    
    border-radius: 2em;      
  
   pointer-events: none;
  }




