/* MARGENES DE LAS COSAS */
.margin-all{
    width: 70% !important; 
    margin: auto !important;
} 
.cards-margin{
    justify-content: space-between;
    display: flex;
}

/* Card productos */
.mejores-ofertas{
    font-size: 1.8em;
    
}
.todoCard{
    
         margin-top: 2em;
         width: 25em;
         font-family: Arial, Helvetica, sans-serif;
         
   }
   
  /* div imagenes */
   
   .CardFotos {
    background-color: #F5F6F6;
    border: 0px;
    width: 25em;
    height: 19em;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: url(img/drag.png) 50 50, auto;
    position: relative;
}

.imagenCard {
    transition: 0.4s ease;
    max-width: 100%;
}

.corazonDiv {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 50%;
    padding: 0.5em;
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 1;
}

.corazon {
    width: 1.3em;
    position: relative;
    z-index: 2;
}

/* div texto */
   
   
   .namePrecio{
       display: flex;
       justify-content: space-between;
   
   }
   .name{
   font-size: 1.1em;
   font-weight: 600;
   }
   .precio{
       font-size: 1.2em;
       font-weight: 600;
       
   }
   .descrip{
       font-size: 0.8em;
       color: rgb(86, 85, 85);
      margin-bottom: 0.5em;
   }
   
   .stars{
       display: flex;
   }
   .estrellasIMG{
       width: 0.8em;
   
   }
   
   .numeroStar{
       font-size: 0.75em;
       margin-left: 0.5em;
       margin-top: -0.1em;
   }
   
   .AddCart{ 
       margin-top: 0.6em;
       cursor: pointer;
       border: 1px solid black;
       background-color: #FFFFFF;
       border-radius: 2em;
       font-size: 0.9em;
       transition:  0.5s ease;
   
       padding: 0.9em 1.9em 0.9em 1.9em;
      
   }

   /* HOVER */
   .imagenCard:hover {
    transform: scale(1.2);
}

.corazonDiv:hover{
    background-color: #F9DCDC;
}


.AddCart:hover{
border: 1px solid #003D29;
background-color: #003D29;
color: white;
}







/* DOS CARDS */
/* todo la card */
.dos-card-tendencia{
    margin-top: 5em;
    margin-bottom: 1em;
    font-size: 1.8em;
}

.ambas-cardss{

    display: flex;
    justify-content: space-between;
    
}
.all-card{
 
  width: 40em;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* parte de la imagen */
.imagen-carDos{
    overflow: hidden;
    border-top-left-radius:  0.7em;
    border-top-right-radius:  0.7em;
}
.foto-carDos{
     width: 100%;
     border-top-left-radius:  0.7em;
     border-top-right-radius:  0.7em;

     /* hover */
     transition: transform 0.5s;
}


/* parte del texto */
.texto-carDos{
    background-color: #F5F6F6;
    margin-top: -2em;
  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;

}

.subdiv-card{
    padding-left: 1.5em;
}

.h1-card{
font-size: 1.5em;
padding-top: 2em;
font-weight: 600;

}
.delivery-card{
    font-weight: 500;
font-size: 0.9em;
font-weight: 900em;
}
.btn-carDos{
    border: 0px solid #231F1E;
    margin-top: 1em;
    margin-bottom: 2em;
border-radius: 15em;
background-color: #231F1E;
color: white;
font-size: 1.1em;
padding: 0.8em 1em 0.8em 1em;
cursor: pointer;

}


/* HOVERS */

.all-card:hover .foto-carDos{
    transform: scale(1.3); 

  
} 

.btn-carDos:hover{
    background-color: #003D29;
}


/* TARJETAS DESCUENTOS */
.fondo-tar{
    background-color: #FFE6CC;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5em;
    margin-bottom: 7em;
}

/* texto izquierda */
.texto-tar{
 margin-top: 5em;
}

.h1-tar{
    font-size: 3em;
}
.p-tar{
font-weight: 200;
font-size: 1.1em;
}



.btn-tar{
    font-weight: 500;
    border: 0px solid #231F1E;
    margin-top: 1em;
    margin-bottom: 2em;
border-radius: 15em;
background-color: #003D29;
color: white;
font-size: 1.1em;
padding: 1em 1.5em 1em 1.5em;
cursor: pointer;

}


/* foto tarjetas */
.tarjeta-imagen{
    width: 22em;
}


/* hover */

.btn-tar:hover{
    background-color: #231F1E;
}
